#dj-mslider11m198 {
	margin: 10px auto;
	border: 0px; 			padding-bottom: 40px;
	}
#dj-mslider11m198 .dj-mslider-in {
	margin: 0 auto;
	width: 475px;
	max-width: 475px;
	height: 301px;
	position: relative;
}
#dj-mslider11m198 .dj-slides {
	opacity: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
}
#dj-mslider11m198 .dj-slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#dj-mslider11m198 .dj-slide-in {
	height: 100%;
}
#dj-mslider11m198 .dj-slide-in > a:hover {
	background: none;
}
#dj-mslider11m198 .dj-slide img.dj-image, 
#dj-mslider11m198 .dj-slide a:hover img.dj-image {
	border: 0 !important;
	width: 53.684210526316%;
	height: auto;
			margin: 0 0 0 46.315789473684%;
	}
#dj-mslider11m198 .dj-slide-in .video-icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(/classificados/components/com_djmediatools/layouts/mslider/images/video.png) center center no-repeat;
}

#dj-mslider11m198 .dj-slide-desc {
	position: absolute;
	width: 46.315789473684%;
			left: 0;
		bottom: 0;
				height: 100%;
	}
#dj-mslider11m198 .dj-slide-desc-in {
	position: relative;
	height: 100%;
}
#dj-mslider11m198 .dj-slide-desc-bg {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
			opacity: 0.5;
		filter: alpha(opacity = 50);
	}
#dj-mslider11m198 .dj-slide-desc-text {
	position: relative;
	color: #ccc;
	padding: 5px 10px;
	text-align: left;
}
#dj-mslider11m198 .dj-slide-desc-text p {
	display: block;
	padding: 0;
}
#dj-mslider11m198 .dj-slide-desc-text a {
	color: #f5f5f5;
}
#dj-mslider11m198 .dj-slide-title {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
	margin: 5px 0;
}
#dj-mslider11m198 .dj-slide-title a {
	background: none;
}
#dj-mslider11m198 .dj-readmore-wrapper {
	padding: 5px 0;
	text-align: right;
}
#dj-mslider11m198 a.dj-readmore {
	font-size: 1.1em;
}
#dj-mslider11m198 .dj-extra {
	float: right;
	margin: 0 0 5px 20px;
}

#dj-mslider11m198 .dj-navigation {
	position: absolute;
	top: 16.611295681063%;
	width: 100%;
	z-index: 10;
}
#dj-mslider11m198 .dj-navigation-in {
	position: relative;
	margin: 0 0px;
}
#dj-mslider11m198 .dj-navigation .dj-prev {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
}
#dj-mslider11m198 .dj-navigation .dj-next {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
}
#dj-mslider11m198 .dj-navigation .dj-play, 
#dj-mslider11m198 .dj-navigation .dj-pause {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -18px;
}

#dj-mslider11m198 .dj-indicators {
	position: absolute;
	width: 100%;
	z-index: 15;
			bottom: -40px;
	}
#dj-mslider11m198 .dj-indicators-in {
	text-align: center;
	padding: 0 10px;
}
#dj-mslider11m198 .dj-load-button {
	width: 8px;
	height: 8px;
	display: inline-block;
	background: #222;
	border: 2px solid #ccc;
	text-align: center;
	margin: 2px;
	cursor: pointer;
	border-radius: 6px;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}
#dj-mslider11m198 span.dj-load-button-active {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#dj-mslider11m198 .dj-loader {
	position: absolute;
			top: 10px;
		left: 10px;
		z-index: 20;
	width: 16px;
	height: 16px;
	display: block;
	background: url(/classificados/components/com_djmediatools/layouts/mslider/images/ajax-loader.gif) left top no-repeat;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

#dj-mslider11m198 .showOnMouseOver {
	opacity: 0;
}