body{overflow-x: hidden!important;}

#dj-classifieds div.pagination {
  padding: 0;
}
#dj-classifieds .dj-useradverts + div.pagination {
  padding: 30px 0 0;
}
#dj-classifieds input[type="radio"],
#dj-classifieds input[type="checkbox"] {
  margin: 0 4px;
  padding: 0;
  vertical-align: middle;
}
#dj-classifieds .radiofield_box,
#dj-classifieds .radiofield_box div {
  float: none !important;
}
#dj-classifieds .label {
  background: none;
  text-shadow: none;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.clear_both {
  clear: both;
  height: 0;
}
#dj-classifieds .dj-category .cat_row_title,
#dj-classifieds h1.main_cat_title,
#dj-classifieds .dj-cattree-box .title_top,
#dj-classifieds .title_top h1,
#dj-classifieds .dj-additem .title_top,
#dj-classifieds table.paymentdetails td.td_title h2,
#dj-classifieds .profile_outer h2.profile_name,
#dj-classifieds .djcf_warning_outer .title_top,
#dj-classifieds .pointspackages .title_top,
#dj-classifieds .djcf_checkout_outer .title_top {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #372f2b;
  font-weight: 600;
  margin: 0 0 30px;
  padding: 0 0 32px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#dj-classifieds .dj-category .cat_row_title:after,
#dj-classifieds h1.main_cat_title:after,
#dj-classifieds .dj-cattree-box .title_top:after,
#dj-classifieds .title_top h1:after,
#dj-classifieds .dj-additem .title_top:after,
#dj-classifieds table.paymentdetails td.td_title h2:after,
#dj-classifieds .profile_outer h2.profile_name:after,
#dj-classifieds .djcf_warning_outer .title_top:after,
#dj-classifieds .pointspackages .title_top:after,
#dj-classifieds .djcf_checkout_outer .title_top:after {
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 100px;
  background: #c8ccce;
}
#dj-classifieds a.rss_icon {
  margin-left: 10px;
}
#dj-classifieds a.rss_icon img {
  margin-bottom: 4px;
  vertical-align: middle;
}
#dj-classifieds .dj-category {
  border-bottom: 1px dotted #e0e0e0;
  margin: 0 0 30px;
  display: none;
}
#dj-classifieds .dj-category .cat_row {
  padding: 0;
  margin: 0 -15px 0;
}
#dj-classifieds .dj-category .cat_row + .cat_row {
  padding-top: 0;
}
#dj-classifieds .dj-category .cat_col {
  float: left;
}
#dj-classifieds .dj-category .cat_col .cat_col_in {
  padding: 0 15px 30px;
}
#dj-classifieds .dj-category .title {
  text-align: center;
}
#dj-classifieds .dj-category .title img {
  float: none;
  display: block;
  margin: 0 auto 20px;
}
#dj-classifieds .dj-category .title img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#dj-classifieds .dj-category .title h2 {
  background: #eaeaea;
  color: #372f2b;
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
#dj-classifieds .dj-category .title h2:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid inset;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #eaeaea transparent;
  top: -8px;
  left: 50%;
  right: auto;
  margin-left: -9px;
  display: none;
}
#dj-classifieds .dj-category .title a + .cat_title_desc h2:after {
  display: block;
}
#dj-classifieds .dj-category.cat_cols1 .cat_col {
  width: 100%;
}
#dj-classifieds .dj-category.cat_cols2 .cat_col {
  width: 50%;
}
#dj-classifieds .dj-category.cat_cols3 .cat_col {
  width: 33.3%;
}
#dj-classifieds .dj-category.cat_cols4 .cat_col {
  width: 25%;
}
#dj-classifieds .dj-category.cat_cols5 .cat_col {
  width: 20%;
}
#dj-classifieds .dj-category.cat_cols6 .cat_col {
  width: 16.6%;
}
#dj-classifieds .dj-category.cat_cols7 .cat_col {
  width: 14.2%;
}
#dj-classifieds .dj-category.cat_cols8 .cat_col {
  width: 12.5%;
}
#dj-classifieds .dj-category.cat_cols9 .cat_col {
  width: 11.1%;
}
#dj-classifieds .dj-category.cat_cols10 .cat_col {
  width: 50%;
}
#dj-classifieds h1.main_cat_title .main_cat_title_path {
  font-size: 13px;
  color: #999;
  line-height: 1.1;
}
#dj-classifieds h1.main_cat_title .main_cat_title_path a {
  color: #999;
}
#dj-classifieds .main_cat_desc {
  margin: 10px 0;
  text-align: center;
}
#dj-classifieds h1.main_cat_title + .dj-category .cat_row_title {
  display: none;
}
#dj-classifieds table.dj-items,
#dj-classifieds .dj-items-table2 {
  clear: both;
  border: none;
  border-collapse: separate;
  border-spacing: 0 30px;
  margin: -30px 0 0;
  width: 100%;
}
#dj-classifieds table.dj-items td.name a,
#dj-classifieds .dj-items-table2 td.name a,
#dj-classifieds table.dj-items tr.special td a,
#dj-classifieds .dj-items-table2 tr.special td a,
#dj-classifieds table.dj-items .item_col.name a,
#dj-classifieds .dj-items-table2 .item_col.name a {
  font-weight: 600;
  font-size: 19px;
  color: #372f2b;
  text-transform: uppercase;
}
#dj-classifieds table.dj-items td.name a:hover,
#dj-classifieds .dj-items-table2 td.name a:hover,
#dj-classifieds table.dj-items tr.special td a:hover,
#dj-classifieds .dj-items-table2 tr.special td a:hover,
#dj-classifieds table.dj-items .item_col.name a:hover,
#dj-classifieds .dj-items-table2 .item_col.name a:hover {
  color: #266892;
}
#dj-classifieds table.dj-items .main_title th,
#dj-classifieds .dj-items-table2 .main_title .item_col {
  color: #ffffff;
  text-align: center !important;
  white-space: nowrap;
  padding: 15px 8px;
  font-weight: 600;
  background: #282725;
  border-left: 1px solid #3f3e3b;
  border-right: none;
  border-bottom: none;
  text-transform: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#dj-classifieds table.dj-items .main_title th a,
#dj-classifieds .dj-items-table2 .main_title .item_col a {
  color: #ffffff !important;
  text-decoration: none;
}
#dj-classifieds table.dj-items .main_title th a img,
#dj-classifieds .dj-items-table2 .main_title .item_col a img {
  margin: 0 8px;
  vertical-align: middle;
}
#dj-classifieds table.dj-items .main_title th a.normal,
#dj-classifieds .dj-items-table2 .main_title .item_col a.normal {
  margin: 0 !important;
}
#dj-classifieds table.dj-items .main_title th:first-child,
#dj-classifieds .dj-items-table2 .main_title .item_col:first-child {
  border-left: none;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
#dj-classifieds table.dj-items .main_title th:last-child,
#dj-classifieds .dj-items-table2 .main_title .item_col:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#dj-classifieds table.dj-items .main_title th:hover,
#dj-classifieds .dj-items-table2 .main_title .item_col:hover,
#dj-classifieds table.dj-items .main_title th.active,
#dj-classifieds .dj-items-table2 .main_title .item_col.active {
  background: #3f3e3b;
}
#dj-classifieds table.dj-items td,
#dj-classifieds .dj-items-table2 .item_col {
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px dotted #e0e0e0;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 2px 1px -1px #e0e0e0;
  -moz-box-shadow: 0px 2px 1px -1px #e0e0e0;
  box-shadow: 0px 2px 1px -1px #e0e0e0;
  background: #ffffff;
  line-height: 1.5em;
  color: #5f5f5f;
}
#dj-classifieds table.dj-items td:first-child,
#dj-classifieds .dj-items-table2 .item_col:first-child {
  border-left: 1px solid #e0e0e0;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
#dj-classifieds table.dj-items td:last-child,
#dj-classifieds .dj-items-table2 .item_col:last-child {
  border-right: 1px solid #e0e0e0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#dj-classifieds table.dj-items td h3,
#dj-classifieds .dj-items-table2 .item_col h3 {
  margin: 0;
}
#dj-classifieds table.dj-items td a,
#dj-classifieds .dj-items-table2 .item_col a {
  text-decoration: none;
}
#dj-classifieds table.dj-items td.icon,
#dj-classifieds .dj-items-table2 .item_col.icon {
  width: auto !important;
}
#dj-classifieds table.dj-items td.icon img,
#dj-classifieds .dj-items-table2 .item_col.icon img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#dj-classifieds table.dj-items td.price,
#dj-classifieds .dj-items-table2 .item_col.price {
  font-size: 19px;
  line-height: 1.1;
  color: #372f2b;
  white-space: nowrap;
}
#dj-classifieds table.dj-items td.description,
#dj-classifieds .dj-items-table2 .item_col.description {
  font-weight: normal;
}
#dj-classifieds table.dj-items td .fav_icon,
#dj-classifieds .dj-items-table2 .item_col .fav_icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/classifieds/favourite.png");
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  margin: 0 5px;
}
#dj-classifieds table.dj-items td .prom_ico,
#dj-classifieds .dj-items-table2 .item_col .prom_ico {
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/classifieds/featured.png");
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  margin: 0 5px;
}
#dj-classifieds table.dj-items td .auction_icon,
#dj-classifieds .dj-items-table2 .item_col .auction_icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/classifieds/auction.png");
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  margin: 0 5px;
}
#dj-classifieds table.dj-items td span.fav_icon,
#dj-classifieds .dj-items-table2 .item_col span.fav_icon,
#dj-classifieds table.dj-items td span.prom_ico,
#dj-classifieds .dj-items-table2 .item_col span.prom_ico,
#dj-classifieds table.dj-items td span.auction_icon,
#dj-classifieds .dj-items-table2 .item_col span.auction_icon,
#dj-classifieds table.dj-items td span.new_icon,
#dj-classifieds .dj-items-table2 .item_col span.new_icon,
#dj-classifieds table.dj-items td span.type_button,
#dj-classifieds .dj-items-table2 .item_col span.type_button {
  margin-top: 10px !important;
}
#dj-classifieds .col_distance {
  vertical-align: middle;
}
#dj-classifieds .col_distance .show_distance,
#dj-classifieds .col_distance .show_on_map {
  overflow: hidden;
  position: relative;
  min-width: 54px;
  min-height: 37px;
  display: block;
  margin-top: 5px;
  text-align: center;
}
#dj-classifieds .col_distance .show_distance {
  margin-top: 0px;
  height: auto;
}
#dj-classifieds .col_distance .show_on_map span {
  background: url('../images/classifieds/show_on_map.png') top center no-repeat;
  display: inline-block;
  min-width: 54px;
  min-height: 37px;
}
#dj-classifieds .col_distance .show_distance span {
  background: url('../images/classifieds/show_distance.png') center center no-repeat;
  display: block;
  min-width: 52px;
  min-height: 40px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}
#dj-classifieds table.dj-items tr.promotion.p_bg td,
#dj-classifieds .dj-items-table2 tr.promotion.p_bg td,
#dj-classifieds table.dj-items .item_row.promotion.p_bg .item_col,
#dj-classifieds .dj-items-table2 .item_row.promotion.p_bg .item_col {
  background: #ecf2f6;
}
#dj-classifieds table.dj-items tr.promotion.p_border td,
#dj-classifieds .dj-items-table2 tr.promotion.p_border td,
#dj-classifieds table.dj-items .item_row.promotion.p_border .item_col,
#dj-classifieds .dj-items-table2 .item_row.promotion.p_border .item_col {
  border-bottom: 3px solid #266892;
  border-top: 3px solid #266892;
  border-right: 1px dotted #266892;
  border-left: none;
}
#dj-classifieds table.dj-items tr.promotion.p_border td:first-child,
#dj-classifieds .dj-items-table2 tr.promotion.p_border td:first-child,
#dj-classifieds table.dj-items .item_row.promotion.p_border .item_col:first-child,
#dj-classifieds .dj-items-table2 .item_row.promotion.p_border .item_col:first-child {
  border-left: 3px solid #266892;
}
#dj-classifieds table.dj-items tr.promotion.p_border td:last-child,
#dj-classifieds .dj-items-table2 tr.promotion.p_border td:last-child,
#dj-classifieds table.dj-items .item_row.promotion.p_border .item_col:last-child,
#dj-classifieds .dj-items-table2 .item_row.promotion.p_border .item_col:last-child {
  border-right: 3px solid #266892;
}
#dj-classifieds table.dj-items tr.promotion.p_bold td,
#dj-classifieds .dj-items-table2 tr.promotion.p_bold td,
#dj-classifieds table.dj-items .item_row.promotion.p_bold .item_col,
#dj-classifieds .dj-items-table2 .item_row.promotion.p_bold .item_col {
  font-weight: bold;
}
#dj-classifieds table.dj-items tr.promotion.p_bold td.name a,
#dj-classifieds .dj-items-table2 tr.promotion.p_bold td.name a,
#dj-classifieds table.dj-items .item_row.promotion.p_bold .item_col.name a,
#dj-classifieds .dj-items-table2 .item_row.promotion.p_bold .item_col.name a {
  font-weight: bold;
}
#dj-classifieds .dj-items-table img.fav_ico {
  display: none;
}
#dj-classifieds .dj-items-table2 {
  display: table;
  table-layout: fixed;
}
#dj-classifieds .dj-items-table2 .item_row {
  display: table-row;
}
#dj-classifieds .dj-items-table2 .item_row .item_col {
  display: table-cell;
}
#dj-classifieds .dj-items-table2 .item_col.col_display {
  text-align: center;
}
#dj-classifieds .dj-items-table2 .main_title .item_col.name a {
  font-size: inherit;
  text-transform: none;
  margin: 0 !important;
}
#dj-classifieds .dj-items .item_row {
  width: 100%;
  margin-bottom: 30px;
}
#dj-classifieds .dj-items_order_by_in {
	display:none;
}
/*
#dj-classifieds .dj-items_order_by_in {
  color: #ffffff;
  text-align: center;
  padding: 15px 8px;
  font-weight: 600;
  background: #282725;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 30px;
}*/
#dj-classifieds .dj-items_order_by_in .dj-items_order_by_label {
  display: none;
}
#dj-classifieds .dj-items_order_by_in .dj-items_order_by_values {
  display: inline-block;
}
#dj-classifieds .dj-items_order_by_in .dj-items_order_by_values a {
  color: #d9d9d9;
  text-decoration: none;
}
#dj-classifieds .dj-items_order_by_in .dj-items_order_by_values a:hover,
#dj-classifieds .dj-items_order_by_in .dj-items_order_by_values a.active {
  color: #ffffff;
}
#dj-classifieds .dj-items .item_row .item_row_in {
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 1px -1px #e0e0e0;
  -moz-box-shadow: 0px 2px 1px -1px #e0e0e0;
  box-shadow: 0px 2px 1px -1px #e0e0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  color: #5f5f5f;
}
#dj-classifieds .dj-items .item_row .item_outer {
  width: 78%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
#dj-classifieds .dj-items .item_row .item_outer_in {
  width: 100%;
  display: table;
}
#dj-classifieds .dj-items .item_row .item_outer_in .item_img_box {
  display: table-cell;
  vertical-align: top;
}
#dj-classifieds .dj-items .item_row .item_img_box_in {
  padding-right: 30px;
}
#dj-classifieds .dj-items .item_row .item_img_box_in img {
  max-width: none;
}
#dj-classifieds .dj-items .item_row .item_outer_in .item_content {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
#dj-classifieds .dj-items .item_row .item_outer_in .item_content_in {
  padding-right: 25px;
}
#dj-classifieds .dj-items .item_row .item_content .item_title h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
  text-transform: uppercase;
  color: #372f2b;
  margin: 0;
}
#dj-classifieds .dj-items .item_row .item_content .item_title + div {
  margin-top: 5px;
}
#dj-classifieds .dj-items .item_row .item_content .item_title .item_type {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}
#dj-classifieds .dj-items .item_row .item_content .item_title .fav_icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/classifieds/favourite.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 17px;
  width: 17px;
  margin: 5px 5px 0;
}
#dj-classifieds .dj-items .item_row .item_content .item_title .prom_ico {
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/classifieds/featured.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 17px;
  width: 17px;
  margin: 5px 5px 0;
}
#dj-classifieds .dj-items .item_row .item_content .item_title .auction_icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/classifieds/auction.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 17px;
  width: 17px;
  margin: 5px 5px 0;
}
#dj-classifieds .dj-items .item_row .item_content .item_title .new_icon {
  margin-top: 0;
  vertical-align: top;
}
#dj-classifieds .dj-items .item_row .item_content .item_desc {
  overflow: hidden;
  text-overflow: ellipsis;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer {
  margin-bottom: 10px;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer .item_category {
  display: inline-block;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer a {
  text-decoration: none;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer .item_region {
  display: inline-block;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer .item_distance {
  display: inline-block;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 5px;
  padding-left: 22px;
  cursor: pointer;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer .item_distance:hover {
  color: #266892;
}
#dj-classifieds .dj-items .item_row .item_details .item_date_start,
#dj-classifieds .dj-items .item_row .item_details .item_date_exp,
#dj-classifieds .dj-items .item_row .item_details .item_display {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 22px;
  float: right;
  clear: both;
}
#dj-classifieds .dj-items_order_by_in .item_orderby_separator,
#dj-classifieds .dj-items .item_row .item_custom_fields .item_custom_field_separator,
#dj-classifieds .dj-items .item_row .item_cat_region_outer .item_cat_region_separator {
  width: 2px;
  height: 2px;
  background: #696969;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}
#dj-classifieds .dj-items_order_by_in .item_orderby_separator {
  background: #4c4a47;
}
#dj-classifieds .dj-items .item_row .item_content .item_custom_fields {
  margin-bottom: 10px;
}
#dj-classifieds .dj-items .item_row .item_content .item_custom_fields .item_cf_box {
  display: inline-block;
}
#dj-classifieds .dj-items .item_row .item_details {
  width: 22%;
  float: right;
  text-align: right;
}
#dj-classifieds .dj-items .item_row .item_details .item_price {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  word-wrap: break-word;
  margin-bottom: 10px;
  color: #266892;
}
#dj-classifieds .dj-items .item_row .item_details .item_price .row_negotiable {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.2;
}
#dj-classifieds .dj-items .item_row.p_bg .item_row_in {
  background: #ecf2f6;
}
#dj-classifieds .dj-items .item_row.p_border .item_row_in {
  padding: 18px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 3px solid #266892;
}
#dj-classifieds .dj-items .item_row .item_cat_region_outer .item_region .item_distance {
  background-image: url("../images/classifieds/distance.png");
}
#dj-classifieds .dj-items .item_row .item_details .item_date_start,
#dj-classifieds .dj-items .item_row .item_details .item_date_exp {
  background-image: url("../images/classifieds/added.png");
}
#dj-classifieds .dj-items .item_row .item_details .item_display {
  background-image: url("../images/classifieds/hits.png");
}
#dj-classifieds .blog_sorting_box {
  margin: 0 0 30px;
}
#dj-classifieds .blog_sorting_box #blogorder_select {
  min-width: 250px;
}
#dj-classifieds span.new_icon {
  display: inline-block;
  background: #b81a00;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  line-height: 25px;
  vertical-align: middle;
  padding: 0 10px;
  margin: 2px;
}
#dj-classifieds .djcf_items_blog {
  margin-left: -15px;
  margin-right: -15px;
}
#dj-classifieds .djcf_items_blog .item_box {
  float: left;
}
#dj-classifieds .djcf_items_blog .item_box_in {
  position: relative;
  margin: 0 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5f5f5f;
}
#dj-classifieds .djcf_items_blog .item_box_in2 {
  padding: 0px;
    box-shadow: 0px 2px 1px -1px #ececec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .djcf_items_blog .title {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  margin-left: 15px;
  padding: 15px;
  border-left: 3px solid #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
}
.djcf_after_title{display:none;}
#dj-classifieds .djcf_items_blog .title h2 {
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 29px;
  font-size: 19px;
  font-weight: 600;
}
#dj-classifieds .djcf_items_blog .title h2 + * {
  margin-left: 0 !important;
}
#dj-classifieds .djcf_items_blog .item_img {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 172px;
}
#dj-classifieds .djcf_items_blog .item_img:hover > a{
  width: 110%;
  margin-left: -5%;
  margin-top: -5%;
}
#dj-classifieds .djcf_items_blog .item_img img,
#dj-classifieds .djcf_items_blog .item_img a{
    width: 100%;
    display: block;
}
#dj-classifieds .djcf_items_blog .item_box_right .item_img {
  float: left;
  padding-right: 20px;
}
#dj-classifieds .djcf_items_blog .item_img + .item_desc {
  display: table-cell;
}
#dj-classifieds .djcf_items_blog .item_box_bottom{
    display: none;
}
#dj-classifieds .djcf_items_blog .item_box_bottom .item_desc {
  display: block;
}
#dj-classifieds .djcf_items_blog .item_desc .label_title {
  display: block;
  padding-left: 30px;
  line-height: 20px;
}
#dj-classifieds .djcf_items_blog span.desc_info {
  display: block;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 1.5;
  padding-left: 30px;
}
#dj-classifieds .djcf_items_blog img.fav_ico {
  vertical-align: middle;
}
#dj-classifieds .blog_det .item_desc .label_title,
#dj-classifieds .blog_det .region,
#dj-classifieds .blog_det .category,
#dj-classifieds .blog_det .price,
#dj-classifieds .blog_det .cf_box {
  font-weight: 600;
  color: #372f2b;
  border-bottom: 1px dotted;
  margin: 0 0 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.2;
}
#dj-classifieds .blog_det .category a {
  text-decoration: none;
}
#dj-classifieds .blog_det .item_desc .label_title {
  border: none;
  margin: 0;
}
#dj-classifieds .blog_det div:nth-last-child(2) {
  border: none;
}
#dj-classifieds .blog_det .region .label_title,
#dj-classifieds .blog_det .category .label_title,
#dj-classifieds .blog_det .price .label_title {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px;
}
#dj-classifieds .blog_det .cf_box .label_title {
  height: 20px;
  display: inline-block;
  padding-left: 30px;
}
#dj-classifieds .blog_det .region,
#dj-classifieds .blog_det .category,
#dj-classifieds .blog_det .price,
#dj-classifieds .blog_det .cf_box {
  border-color: #e0e0e0;
}
#dj-classifieds .djcf_items_blog .item_desc .label_title,
#dj-classifieds .blog_det .price .label_title,
#dj-classifieds .blog_det .region .label_title,
#dj-classifieds .blog_det .category .label_title,
#dj-classifieds .blog_det .cf_box .label_title {
  background-position: left top;
  background-repeat: no-repeat;
}
#dj-classifieds .djcf_items_blog .item_desc .label_title {
  background-image: url("../images/scheme1/desc.png");
}
#dj-classifieds .blog_det .price .label_title {
  background-image: url("../images/scheme1/price.png");
}
#dj-classifieds .blog_det .region .label_title {
  background-image: url("../images/scheme1/region.png");
}
#dj-classifieds .blog_det .category .label_title {
  background-image: url("../images/scheme1/category.png");
}
#dj-classifieds .blog_det .cf_box .label_title {
  background-image: url("../images/scheme1/details.png");
}
#dj-classifieds .djcf_items_blog .promotion.p_bg .item_box_in2 {
  background: #ecf2f6;
  padding: 19px;
  border: 1px solid #266892;
}
#dj-classifieds .djcf_items_blog .promotion.p_border {
  position: relative;
}
#dj-classifieds .djcf_items_blog .promotion.p_border .item_box_in2 {
  padding: 17px;
  border: 3px solid #266892;
}
#dj-classifieds .djcf_items_blog .promotion.p_border .blog_det .category,
#dj-classifieds .djcf_items_blog .promotion.p_border .blog_det .region,
#dj-classifieds .djcf_items_blog .promotion.p_border .blog_det .price,
#dj-classifieds .djcf_items_blog .promotion.p_border .blog_det .cf_box {
  border-color: #266892;
}
#dj-classifieds .djcf_items_blog .promotion.p_bold {
  font-weight: bold;
}
#dj-classifieds .djcf_items_blog .type_button {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
#dj-classifieds .djcf_items_blog .promotion.p_special .item_box_in2 {
  position: relative;
}
#dj-classifieds .djcf_items_blog .promotion.p_special span.p_special_img {
  display: none;
}
#dj-classifieds .djcf_items_blog .promotion.p_special span.p_special_icon {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-image: url("../images/classifieds/featured.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 5px;
}
#dj-classifieds .djcf_items_blog .fav_icon {
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 17px;
  background-image: url("../images/classifieds/favourite.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 5px;
}
#dj-classifieds .djcf_items_blog .auction_icon {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-image: url('../images/classifieds/auction.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 5px;
}
#dj-classifieds .see_details_box {
  font-family: inherit;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  padding: 3px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid #266892;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#dj-classifieds .see_details_box:hover {
  cursor: pointer;
  border-color: transparent;
  background: #266892;
}
#dj-classifieds .see_details_box a {
  color: #266892;
  text-decoration: none !important;
}
#dj-classifieds .see_details_box:hover a {
  color: #ffffff;
}
#dj-classifieds .dj-cattree-box.cols1 .dj-cattree {
  width: 100%;
}
#dj-classifieds .dj-cattree-box.cols2 .dj-cattree {
  width: 50%;
}
#dj-classifieds .dj-cattree-box.cols3 .dj-cattree {
  width: 33.3%;
}
#dj-classifieds .dj-cattree-box.cols4 .dj-cattree {
  width: 25%;
}
#dj-classifieds .dj-cattree-box.cols5 .dj-cattree {
  width: 20%;
}
#dj-classifieds .dj-cattree-box .dj-cattree {
  float: left;
  margin: 10px 0;
}
#dj-classifieds .dj-cattree-box .dj-cattree li {
  padding: 0 15px 0 0;
  background: none;
}
#dj-classifieds .dj-cattree-box .dj-cattree li a img.cat_tree_icon {
  height: 25px;
  margin: 3px 5px 3px 0;
  vertical-align: middle;
}
#dj-classifieds .dj-useradverts .main_title .main_title_box_in {
  color: #ffffff;
  text-align: center !important;
  white-space: nowrap;
  padding: 15px 8px;
  font-weight: 600;
  background: #282725;
  border-left: 1px solid #3f3e3b;
}
#dj-classifieds .dj-useradverts .main_title .main_title_box_in:hover {
  background: #3f3e3b;
}
#dj-classifieds .dj-useradverts .main_title a {
  color: #ffffff;
  text-decoration: none;
}
#dj-classifieds .dj-useradverts .main_title a img {
  margin: 0 8px;
  vertical-align: middle;
}
#dj-classifieds .dj-useradverts .main_title_box {
  width: 20%;
  float: left;
  overflow: hidden;
}
#dj-classifieds .dj-useradverts .main_title_box:first-child {
  width: 40%;
}
#dj-classifieds .dj-useradverts .main_title_box:first-child .main_title_box_in {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border-left: none;
}
#dj-classifieds .dj-useradverts .main_title_box:nth-last-child(2) .main_title_box_in {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#dj-classifieds .dj-useradverts .row_ua {
  margin: 30px 0 0;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1,
#dj-classifieds .dj-useradverts .row_ua .row_ua2 {
  background: #ffffff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 2px 1px -1px #ececec;
  -moz-box-shadow: 0px 2px 1px -1px #ececec;
  box-shadow: 0px 2px 1px -1px #ececec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #5f5f5f;
  margin: 0 0 10px;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 {
  border-bottom: 1px solid #ececec;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .row_ua1_in {
  display: table;
  width: 100%;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua {
  padding: 20px;
  border-left: 1px dotted #ececec;
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua:first-child {
  border-left: none;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name {
  width: 45%;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name .icon {
  float: left;
  margin-right: 30px;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name .title {
  font-weight: 600;
  font-size: 19px;
  color: #372f2b;
  text-decoration: none;
  text-transform: uppercase;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name .c_name {
  font-size: 0.9em;
  display: block;
  margin-top: 3px;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua_row + .col_ua_row {
  margin: 10px 0 0;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .public_status {
  width: 45%;
  vertical-align: middle;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .advert_active {
  width: 10%;
  vertical-align: middle;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua2 {
  padding: 20px;
  text-align: right;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua2 .row_ua2_in {
  margin: -5px 0 0;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua2 .row_ua2_in .button {
  margin: 5px 0 0 10px;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua_orders {
  line-height: 30px;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua_orders .row_ua_orders_title {
  text-align: right;
  color: #266892;
  cursor: pointer;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua_orders .row_ua_orders_title:hover {
  text-decoration: underline;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua_orders .item_col .clear_both {
  display: none;
}
#dj-classifieds .dj-useradverts a.button {
  margin: 5px;
}
#dj-classifieds .dj-additem form {
  padding: 0;
  margin: 0;
}
#dj-classifieds .dj-additem .additem_djform {
  margin-bottom: 20px;
}
#dj-classifieds .dj-additem .djform_row {
  border-bottom: 1px dotted #e0e0e0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#dj-classifieds .dj-additem .label {
  background: none;
  text-shadow: none;
  color: inherit;
  font-size: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
#dj-classifieds .dj-additem .label {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  vertical-align: middle;
}
#dj-classifieds .dj-additem .label span {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.5;
  white-space: normal;
}
#dj-classifieds .dj-additem .label img {
  vertical-align: top;
}
#dj-classifieds .dj-additem .djform_row.extra_fields {
  margin: 0;
  padding: 0;
  border: none;
}
#dj-classifieds .dj-additem .djform_row.extra_fields .radiofield_box,
#dj-classifieds .dj-additem .djform_row.extra_fields .radiofield_box div {
  float: none !important;
}
#dj-classifieds .dj-additem .djform_row.extra_fields .radiofield_box label {
  display: inline-block;
  margin: 0 4px;
}
#dj-classifieds .dj-additem .djform_field {
  display: inline-block;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
#dj-classifieds .dj-additem .djform_field img {
  margin: 5px;
}
#dj-classifieds .dj-additem .djform_field span.radio_label {
  margin: 0 0 0 7px;
  vertical-align: middle;
}
#dj-classifieds .dj-additem #after_cat_0 select,
#dj-classifieds .dj-additem #after_reg_0 select {
  margin-top: 5px;
}
#dj-classifieds .dj-additem .mce-container {
  max-width: 400px;
  border-color: #ececec;
}
#dj-classifieds .dj-additem .terms_and_conditions {
  text-align: center;
}
#dj-classifieds .dj-additem .terms_and_conditions > label {
  display: none;
}
#dj-classifieds .dj-additem .terms_and_conditions .label_terms {
  font-weight: bold;
  margin: 0 5px;
  display: inline-block;
}
#dj-classifieds .dj-additem .terms_and_conditions .djform_field {
  width: 100%;
}
#dj-classifieds .dj-additem .djform_row .toggle-editor {
  float: none;
}
#dj-classifieds .dj-additem #guest_email_info,
#dj-classifieds .dj-additem #verification_alert,
#dj-classifieds .dj-additem #imageslimitalert,
#dj-classifieds .dj-additem #mapalert {
  color: #FF0000;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  display: none;
}
#dj-classifieds .dj-additem #mapalert {
  margin-top: 20px;
}
#dj-classifieds .dj-additem .djform_row .reg_loader,
#dj-classifieds .dj-additem #guest_email_loader {
  display: none;
  margin: 5px 0 0 10px;
  vertical-align: top;
}
#dj-classifieds .dj-additem .classifieds_buttons {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#dj-classifieds .dj-additem .classifieds_buttons .button {
  margin: 0 10px;
}
#dj-classifieds .dj-additem .price_neg_box {
  margin: 5px 0 0;
}
#dj-classifieds .dj-additem .price_neg_box span {
  margin-left: 5px;
}
#dj-classifieds .dj-additem select.price_currency {
  width: 100px;
}
#dj-classifieds .dj-additem .djmap_intro {
  margin-bottom: 20px;
  text-align: center;
}
#dj-classifieds .dj-additem .djmap_intro .button {
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  text-decoration: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  padding: 9px 30px 9px 30px;
  border: none !important;
  color: #ffffff !important;
  background-color: #;
  background-image: -moz-linear-gradient(top, #266892, #215a7e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#266892), to(#215a7e));
  background-image: -webkit-linear-gradient(top, #266892, #215a7e);
  background-image: -o-linear-gradient(top, #266892, #215a7e);
  background-image: linear-gradient(to bottom, #266892, #215a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff266892', endColorstr='#ff215a7e', GradientType=0);
  -webkit-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  -moz-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px 0;
}
#dj-classifieds .dj-additem .djmap_intro .button:hover,
#dj-classifieds .dj-additem .djmap_intro .button:focus {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background: #215a7e;
}
#dj-classifieds .dj-additem .djmap_intro .djmap_intro_desc {
  text-align: center;
}
#dj-classifieds .dj-additem #djmap {
  width: 85% !important;
  height: 300px !important;
  margin: 0 auto;
}
#dj-classifieds .dj-additem #djmap img {
  max-width: none;
}
#dj-classifieds .dj-additem #djmap label {
  width: auto;
  display: inline;
}
#dj-classifieds .dj-additem .images_box .img_info {
  margin-bottom: 15px;
}
#dj-classifieds .dj-additem .images_box .img_info .img_info_row {
  margin-bottom: 5px;
}
#dj-classifieds .dj-additem .images_box .img_info span {
  font-weight: bold;
}
#dj-classifieds .dj-additem .images_box .additem_djform_in {
  padding: 0;
}
#dj-classifieds .dj-additem .images_box #itemImagesWrap {
  margin: 0 0 20px 0;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage {
  position: relative;
  float: left;
  margin: 0 2px 2px 0;
  overflow: hidden;
  max-width: 100%;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage img {
  float: none;
  margin: 0;
  padding: 0;
  height: 150px;
  max-width: 600px;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage .imgMask {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 150px;
  background: url('../images/classifieds/img_bg.png') repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  cursor: move;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage .imgMask input.editTitle {
  background: transparent url('../images/classifieds/img_edit.png') 6px center no-repeat;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage .imgMask .delBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url('../images/classifieds/img_delete.png') no-repeat;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage .imgMask .delBtn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage:hover .imgMask,
#dj-classifieds .dj-additem .images_box #itemImages .itemImage.active .imgMask {
  opacity: 1;
  filter: alpha(opacity=100);
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage input.itemInput {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 6px 6px 28px;
  margin: 0;
  border: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  border: none !important;
}
#dj-classifieds .dj-additem .images_box #itemImages .itemImage input.itemInput:focus {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#dj-classifieds .dj-additem .label.invalid {
  color: #ff0000;
}
#dj-classifieds .dj-additem input.invalid,
#dj-classifieds .dj-additem select.invalid,
#dj-classifieds .dj-additem textarea.invalid {
  border: 1px solid #ff0000;
}
#dj-classifieds .dj-additem input[type="text"],
#dj-classifieds .dj-additem .djform_row select,
#dj-classifieds .dj-additem .djform_row textarea {
  max-width: 400px;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .dj-additem .prom_rows .promotions_info {
  font-weight: normal;
  font-size: 14px;
  color: #999;
}
#dj-classifieds .dj-additem .prom_rows .label {
  width: 25%;
  margin: 0;
}
#dj-classifieds .dj-additem .prom_rows .djform_field {
  width: 74%;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_v,
#dj-classifieds .dj-additem .prom_rows .djform_prom_img,
#dj-classifieds .dj-additem .prom_rows .djform_prom_desc {
  float: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_v {
  width: 28%;
  padding-top: 20px;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_v label {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_img {
  width: 25%;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_desc {
  width: 47%;
}
#dj-classifieds .dj-renewitem .djform_field_category {
  padding-top: 5px;
}
#dj-classifieds .djform_row.autoclose_binding {
  text-align: center;
}
#dj-classifieds .djform_row.autoclose_binding > label {
  display: none !important;
}
#dj-classifieds .djform_row.autoclose_binding #bid_autoclose span {
  display: block;
}
#dj-classifieds .djform_row.autoclose_binding #bid_autoclose label {
  display: inline-block;
}
#dj-classifieds .dj-additem .shippins_rows .djform_prom_v {
  padding-top: 10px;
}
#dj-classifieds .dj-additem .shippins_rows .shipping_price input {
  max-width: 100px;
  margin: 0 5px;
}
#dj-classifieds .dj-additem .shippins_rows .djc_uploader_table {
  margin: 0;
}
#dj-classifieds .dj-additem #buynow_quantity_box input {
  float: left;
}
#dj-classifieds .dj-additem #buynow_quantity_box input + select {
  clear: both;
  float: left;
  margin-top: 5px;
}
#dj-classifieds .dj-additem #buynow_config input[type="text"],
#dj-classifieds .dj-additem #buynow_config select {
  max-width: 400px;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .dj-additem #buynow_config .bn-option-outer,
#dj-classifieds .dj-additem #buynow_config .bn_field_outer {
  margin-bottom: 5px;
}
#dj-classifieds .dj-additem #buynow_config span.button {
  margin-left: 25%;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  text-decoration: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  padding: 9px 30px 9px 30px;
  border: none !important;
  color: #ffffff !important;
  background-color: #;
  background-image: -moz-linear-gradient(top, #266892, #215a7e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#266892), to(#215a7e));
  background-image: -webkit-linear-gradient(top, #266892, #215a7e);
  background-image: -o-linear-gradient(top, #266892, #215a7e);
  background-image: linear-gradient(to bottom, #266892, #215a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff266892', endColorstr='#ff215a7e', GradientType=0);
  -webkit-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  -moz-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  box-shadow: inset 0px -1px 1px 0px #1b4b6a;
}
#dj-classifieds .dj-additem #buynow_config span.button:hover,
#dj-classifieds .dj-additem #buynow_config span.button:focus {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background: #215a7e;
}
#dj-classifieds .dj-additem #buynow_config #buynow_options2_info {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}
#dj-classifieds .dj-additem #buynow_config + script + .djform_row {
  margin-top: 30px;
}
#dj-classifieds .dj-item .title_top {
  margin: 0 0 20px;
  padding: 0 0 20px;
  position: relative;
  text-align: left;
  border-bottom: 1px dotted #e0e0e0;
}
#dj-classifieds .dj-item .title_top h2 {
  display: inline;
  vertical-align: middle;
  margin: 0 5px 0 0;
  color: #372f2b;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
#dj-classifieds .dj-item .title_top .sb_top {
  float: right;
  margin: 6px 0 0;
}
#dj-classifieds .dj-item .title_top .button {
  margin: 1px 0 1px 10px;
  float: right;
  vertical-align: middle;
  background-image: none;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#dj-classifieds .dj-item .title_top span.new_icon {
  vertical-align: middle;
  margin: 0 5px;
}
#dj-classifieds .dj-item .title_top .fav_icon_link .fav_icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/classifieds/favourite.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 17px;
  width: 17px;
  margin: 0 5px;
}
#dj-classifieds .dj-item .title_top .fav_icon_link .fav_icon.fav_icon_na {
  background-image: url("../images/classifieds/addtofavourite.png");
}
#dj-classifieds .dj-item .title_top .fav_icon_link .fav_label,
#dj-classifieds .dj-item .title_top .fav_icon_link .nfav_label {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  margin: 0 5px;
}
#dj-classifieds .dj-item .title_top .fav_icon_link .fav_label:hover,
#dj-classifieds .dj-item .title_top .fav_icon_link .nfav_label:hover {
  text-decoration: underline;
}
#dj-classifieds .dj-item .title_top .fav_icon_link .fav_label {
  color: #ff0000;
}
#dj-classifieds .dj-item .title_top .fav_icon_link .nfav_label {
  color: #656565;
}
#dj-classifieds .dj-item .title_top .fav_icon_link .nfav_label:hover {
  color: #266892;
}
#dj-classifieds .dj-item .general_det_in {
  padding-left: 0px;
}
#dj-classifieds .dj-item .images_wrap {
  float: left;
  max-width: 100%;
}
#dj-classifieds .dj-item .images_wrap .images .djc_images {
  padding: 20px;
  background: #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#dj-classifieds .dj-item .images_wrap .djc_mainimage a {
  display: block;
}
#dj-classifieds .dj-item .images_wrap .djc_thumbnails {
  margin-top: 10px;
  margin-left: -1px;
}
#dj-classifieds .dj-item .images_wrap .djc_thumbnails .djc_thumbnail {
  float: left;
}
#dj-classifieds .dj-item .images_wrap .djc_thumbnails .djc_thumbnail.new_row {
  clear: both;
}
#dj-classifieds .dj-item .images_wrap .djc_thumbnails .djc_thumbnail a {
  display: block;
}
#dj-classifieds .dj-item .images_wrap .djc_thumbnails .djc_thumbnail img {
  padding-left: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal2 .djc_thumbnail {
  max-width: 50%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal3 .djc_thumbnail {
  max-width: 33.3%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal4 .djc_thumbnail {
  max-width: 25%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal5 .djc_thumbnail {
  max-width: 20%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal6 .djc_thumbnail {
  max-width: 16.6%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal7 .djc_thumbnail {
  max-width: 14.2%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal8 .djc_thumbnail {
  max-width: 12.5%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal9 .djc_thumbnail {
  max-width: 11.1%;
}
#dj-classifieds .dj-item .djc_thumbnails.djc_thumbs_gal10 .djc_thumbnail {
  max-width: 10%;
}
#dj-classifieds .dj-item .general_det {
  float: right;
}
#dj-classifieds .dj-item .general_det.no_images {
  width: 100%;
}
#dj-classifieds .dj-item .general_det span.row_label {
  border-bottom: 1px dotted #e0e0e0;
  padding: 0 0 10px 30px;
  display: block;
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .localization_det,
#dj-classifieds .dj-item .images,
#dj-classifieds .dj-item .description,
#dj-classifieds .dj-item .video_box,
#dj-classifieds .dj-item .additional,
#dj-classifieds .dj-item .ask_form_abuse_outer {
  margin-bottom: 30px;
}
#dj-classifieds .dj-item .custom_det .row,
#dj-classifieds .dj-item .additional .row,
#dj-classifieds .dj-item .additional ul,
#dj-classifieds .dj-item .localization_det .row,
#dj-classifieds .dj-item .general_det .row_value,
#dj-classifieds .dj-item #google_map_box,
#dj-classifieds .dj-item .fb_iframe_widget {
  display: block;
}
#dj-classifieds .dj-item .general_det{max-width:100%!important}
#dj-classifieds .dj-item .row_gd,
#dj-classifieds .dj-item .row {
  margin: 0 0 30px;
}
#dj-classifieds .dj-item .general_det .djcf_contact {
  margin: 0;
}
#dj-classifieds .dj-item .general_det .djcf_contact .contact_mainrow,
#dj-classifieds .dj-item .general_det .djcf_contact .contact_row {
  margin: 0 0 30px;
}
#dj-classifieds .dj-item .general_det .djcf_contact .contact_row .row_label {
  background: none;
  border: none;
  margin: 0;
  display: block;
  line-height: normal;
}
#dj-classifieds .dj-item .general_det .djcf_contact .contact_row .row_value {
  display: block;
}
#dj-classifieds .dj-item .profile_item_box .profile_img {
  display: block;
  padding: 0 0 5px;
}
#dj-classifieds .dj-item .profile_item_box .profile_name_data {
  display: inline-block;
}
#dj-classifieds .dj-item .profile_item_box .profile_row {
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .profile_item_box .profile_row .profile_row_label {
  display: block;
}
#dj-classifieds .dj-additem .djform_field .radiofield_box,
#dj-classifieds .dj-additem .djform_field .radiofield_box div {
  float: none !important;
}
#dj-classifieds .dj-item span.row_label {
  font-weight: 600;
  color: #372f2b;
}
#dj-classifieds .dj-item .general_det .djcf_contact span.row_label,
#dj-classifieds .dj-item .general_det .added span.row_label,
#dj-classifieds .dj-item .general_det .user_name span.row_label {
  line-height: 20px;
}
#dj-classifieds .dj-item .auction .bids_title h2 {
  border-bottom: 1px dotted #e0e0e0;
  padding: 0 0 10px 30px;
  display: block;
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #372f2b;
}
#dj-classifieds .dj-item .auction.row_content,
#dj-classifieds .dj-item .auction.row_bottom {
  margin: 0 0 30px;
}
#dj-classifieds .dj-item .auction.row_gd .bids_title h2 {
  font-size: inherit;
}
#dj-classifieds .dj-item .auction #djbid_message,
#dj-classifieds .dj-item .auction #djbid_alert,
#dj-classifieds .dj-item .auction .bids_close_info,
#dj-classifieds .dj-item .auction .no_bids_row {
  font-weight: bold;
  margin: 5px 0;
}
#dj-classifieds .dj-item .auction #djbid_message:empty,
#dj-classifieds .dj-item .auction #djbid_alert:empty,
#dj-classifieds .dj-item .auction .bids_close_info:empty {
  display: none;
}
#dj-classifieds .dj-item .auction #djbid_message {
  background: #DFF0D8;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #468847;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 30px;
}
#dj-classifieds .dj-item .auction #djbid_alert,
#dj-classifieds .dj-item .auction .bids_close_info {
  background: #F2DEDE;
  display: block;
  line-height: 40px;
  text-align: center;
  color: #B94A48;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 30px;
}
#dj-classifieds .dj-item .auction .bids_list,
#dj-classifieds .dj-item .auction .bids_box,
#dj-classifieds .dj-item .auction .bids_login_info {
  padding: 0 0 0 30px;
}
#dj-classifieds .dj-item .auction .bids_list {
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .auction .bids_row_title .bids_col {
  background: #eaeaea;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 4px 10px;
  color: #656565;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .auction .bids_row_title .bids_col_date {
  padding-left: 0;
  padding-right: 0;
}
#dj-classifieds .dj-item .auction .bids_row_title .bids_col:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#dj-classifieds .dj-item .auction .bids_row_title .bids_col:nth-last-child(2) {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#dj-classifieds .dj-item .auction .bids_col {
  float: left;
  width: 33.33%;
}
#dj-classifieds .dj-item .auction .bids_col_bid {
  text-align: right;
  font-weight: bold;
}
#dj-classifieds .dj-item .auction .bids_box {
  margin-top: 10px;
}
#dj-classifieds .dj-item .auction .bids_box .bids_info {
  margin: 0 0 5px;
}
#dj-classifieds .dj-item .auction .bids_info .bid_label {
  display: none;
}
#dj-classifieds .dj-item .auction .bid_del_icon {
  position: relative;
  text-decoration: none;
}
#dj-classifieds .dj-item .auction .bid_del_icon:after {
  content: '\00D7';
  margin: 0 3px;
}
#dj-classifieds .dj-item .general_det .price_wrap .auctions_link {
  display: block;
  width: 100%;
  margin: 5px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}
#dj-classifieds .dj-item .general_det .price_wrap .auctions_link:hover {
  text-decoration: underline;
}
#dj-classifieds .dj-item .auction .bids_input,
#dj-classifieds .dj-item .auction .bids_button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
#dj-classifieds .dj-item .auction .bids_login_info a {
  color: #266892;
  text-decoration: none;
}
#dj-classifieds .dj-item .auction .bids_login_info a:hover {
  text-decoration: underline;
}
#dj-classifieds .dj-item .general_det .djcf_contact span.row_label {
  background: url("../images/scheme1/desc.png") no-repeat left top;
}
#dj-classifieds .dj-item .general_det .added span.row_label {
  background: url("../images/scheme1/added.png") no-repeat left top;
}
#dj-classifieds .dj-item .general_det .user_name span.row_label {
  background: url("../images/scheme1/created.png") no-repeat left top;
}
#dj-classifieds .dj-item .description h2 {
  background: url("../images/scheme1/desc.png") no-repeat left top;
}
#dj-classifieds .dj-item .custom_det h2 {
  background: url("../images/scheme1/details.png") no-repeat left top;
}
#dj-classifieds .dj-item .localization_det h2 {
  background: url("../images/scheme1/region.png") no-repeat left top;
}
#dj-classifieds .dj-item .additional h2 {
  background: url("../images/scheme1/details.png") no-repeat left top;
}
#dj-classifieds .dj-item .video_box h2 {
  background: url("../images/scheme1/video.png") no-repeat left top;
}
#dj-classifieds .dj-item .djcf_comments h2 {
  background: url("../images/scheme1/comments.png") no-repeat left top;
}
#dj-classifieds .dj-item .auction .bids_title h2 {
  background: url("../images/scheme1/price.png") no-repeat left top;
}
#dj-classifieds .dj-item .general_det .price_wrap {
  line-height: 1.5;
  background: #266892;
  border-bottom: 4px solid #1b4b6a;
  text-transform: uppercase;
  text-align: center;
  padding: 25px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#dj-classifieds .dj-item .general_det .price_wrap .row_value {
  padding-left: 10px;
}
#dj-classifieds .dj-item .general_det .price_wrap span.row_label {
  padding: 0 0 0 30px;
  border: none;
  display: inline-block;
  line-height: 20px;
  margin: 0;
  font-size: 1.4em;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("../images/classifieds/price_white.png");
}
#dj-classifieds .dj-item .general_det .price_wrap span.row_value {
  display: inline-block;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
}
#dj-classifieds .dj-item .general_det .price_wrap .row_negotiable {
  margin: 5px 0 0 0;
  text-align: center;
  display: block;
  font-size: 1em;
  font-weight: 600;
  color: #3993cb;
}
#dj-classifieds .dj-item .general_det .price_wrap .buynow_outer {
  margin: 20px 0 0;
}
#dj-classifieds .dj-item .general_det .price_wrap .buynow_outer form {
  margin: 0;
}
#dj-classifieds .dj-item .general_det .price_wrap .buynow_outer input[type='text'] {
  max-width: 53px;
  margin: 0 5px;
}
#dj-classifieds .dj-item .general_det .price_wrap .buynow_outer .button {
  display: inline-block;
  text-shadow: none;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ececec));
  background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
  background-image: -o-linear-gradient(top, #ffffff, #ececec);
  background-image: linear-gradient(to bottom, #ffffff, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffececec', GradientType=0);
  color: #2b76a6 !important;
  margin: 2px;
}
#dj-classifieds .dj-item .general_det .price_wrap .buynow_outer .button:hover,
#dj-classifieds .dj-item .general_det .price_wrap .buynow_outer .button:active {
  background: #ececec;
}
#dj-classifieds .dj-item .general_det .price_wrap .buynow_quantity + label {
  display: inline-block;
  margin: 5px;
}
#dj-classifieds #ask_form {
  width: 100%;
}
#dj-classifieds #ask_form label.invalid {
  color: #ff0000;
}
#dj-classifieds #djabuseForm br {
  height: 0;
  clear: both;
}
#dj-classifieds #djabuseForm label + br {
  display: none;
}
#dj-classifieds #ask_form,
#dj-classifieds #abuse_form {
  width: 100%;
}
#dj-classifieds #ask_form form,
#dj-classifieds #abuse_form form {
  margin: 20px 0 0;
}
#dj-classifieds #ask_form label,
#dj-classifieds #abuse_form label {
  font-size: 0.9em;
}
#dj-classifieds #ask_form textarea,
#dj-classifieds #abuse_form textarea,
#dj-classifieds #ask_form select,
#dj-classifieds #abuse_form select,
#dj-classifieds #ask_form input[type="text"],
#dj-classifieds #abuse_form input[type="text"],
#dj-classifieds #ask_form input[type="email"],
#dj-classifieds #abuse_form input[type="email"],
#dj-classifieds #ask_form input[type="file"],
#dj-classifieds #abuse_form input[type="file"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
}
#dj-classifieds #ask_form .calendar,
#dj-classifieds #abuse_form .calendar,
#dj-classifieds #ask_form .radiofield_box,
#dj-classifieds #abuse_form .radiofield_box,
#dj-classifieds #ask_form #recaptcha_widget_div,
#dj-classifieds #abuse_form #recaptcha_widget_div {
  margin: 0 0 10px;
}
#dj-classifieds #ask_form .radio_label,
#dj-classifieds #abuse_form .radio_label {
  margin: 0 0 0 5px;
}
#dj-classifieds .button#ask_form_button,
#dj-classifieds .button#abuse_form_button {
  margin: 0 16px 0 0;
}
#dj-classifieds .button#ask_form_button,
#dj-classifieds .button#abuse_form_button,
#dj-classifieds .gm_drive_dir input.button {
  font-family: inherit;
  font-size: 13px;
  background-image: none !important;
  background: none;
  filter: none !important;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 20px;
  height: auto;
  line-height: 1.1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 310px;
  max-width: 100%;
}
#dj-classifieds .button#ask_form_button:hover,
#dj-classifieds .button#abuse_form_button:hover,
#dj-classifieds .gm_drive_dir input.button:hover {
  color: #ffffff !important;
  border: 1px solid transparent!important;
}
#dj-classifieds .button#ask_form_button,
#dj-classifieds .gm_drive_dir input.button {
  border: 1px solid #266892 !important;
  color: #266892 !important;
}
#dj-classifieds .button#ask_form_button:hover,
#dj-classifieds .gm_drive_dir input.button:hover {
  background: #266892;
}
#dj-classifieds .button#abuse_form_button {
  border: 1px solid #e0e0e0 !important;
  color: #888888 !important;
}
#dj-classifieds .button#abuse_form_button:hover {
  background: #888888 !important;
}
#dj-classifieds .dj-item .description h2,
#dj-classifieds .dj-item .custom_det h2,
#dj-classifieds .dj-item .localization_det h2,
#dj-classifieds .dj-item .additional h2,
#dj-classifieds .dj-item .video_box h2,
#dj-classifieds .dj-item .djcf_comments h2 {
  border-bottom: 1px dotted #e0e0e0;
  font-size: 16px;
  color: #372f2b;
  font-weight: 600;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 0 0 10px 30px;
}
#dj-classifieds .dj-item .description {
  clear: both;
}
#dj-classifieds .dj-item .localization_det {
  float: right;
  width: 100%;
  margin-left: 3%;
}
#dj-classifieds .dj-item .localization_det .row {
  margin-bottom: 15px;
}
#dj-classifieds .dj-item .localization_det #google_map_box #map {
  max-width: 100%;
}
#dj-classifieds .dj-item .localization_det #google_map_box #map img {
  max-width: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#dj-classifieds .dj-item .localization_det form.gm_drive_dir {
  margin: 0;
}
#dj-classifieds .dj-item .localization_det form.gm_drive_dir label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#dj-classifieds .dj-item .localization_det form.gm_drive_dir .inputbox {
  margin: 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 150px;
}
#dj-classifieds .dj-item .localization_det .gm_drive_dir_l {
  padding-top: 5px;
  display: inline-block;
}
#dj-classifieds .dj-item .localization_det .gm_drive_dir_l:hover {
  cursor: pointer;
}
#dj-classifieds .dj-item .localization_det .gm_drive_dir_l span {
  background: url("../images/classifieds/show_on_map.png") no-repeat center top;
  display: inline-block;
  height: 37px;
  margin: 0 5px;
  vertical-align: middle;
  width: 54px;
  cursor: auto;
}
#dj-classifieds .dj-item .localization_det .geo_coordinates,
#dj-classifieds .dj-item .localization_det .map_info {
  margin-top: 10px;
}
#dj-classifieds .dj-item .localization_det .geo_coordinates span {
  white-space: nowrap;
  margin-left: 2px;
}
#dj-classifieds .dj-item .localization_det .gm_drive_dir input.button {
  display: inline-block;
  width: auto !important;
  margin-bottom: 5px;
}
#dj-classifieds .dj-item .custom_det {
  float: left;
  width: 47%;
  margin-right: 3%;
}
#dj-classifieds .dj-item .custom_det .row {
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .custom_det span.row_label {
  display: block;
  margin-bottom: 5px;
}
#dj-classifieds .dj-item .additional .row {
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .additional span.row_label {
  display: block;
  margin-bottom: 5px;
}
#dj-classifieds .dj-item .video_box {
  float: left;
  width: 100%;
}
#dj-classifieds .dj-item .video_box h2 {
  margin: 0 0 15px;
}
#dj-classifieds .dj-item .video_box .row {
  text-align: center;
  margin-bottom: 0px;
}
#dj-classifieds .videoWrapper {
  margin: 0 auto;
  max-width: 600px;
}
#dj-classifieds .videoWrapper .videoWrapper-in {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
#dj-classifieds .videoWrapper .videoWrapper-in iframe,
#dj-classifieds .videoWrapper .videoWrapper-in object,
#dj-classifieds .videoWrapper .videoWrapper-in embed {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  border: none;
}
#dj-classifieds .dj-item .additional {
  clear: both;
}
#dj-classifieds .dj-item .additional .row {
  margin: 0 0 10px;
}
#dj-classifieds .dj-item .djcf_comments {
  float: left;
  width: 100%;
  margin-top: 130px;
}
#dj-classifieds .dj-item-in .intro_desc_content + .djcf_tabs {
  margin: 30px 0 0;
}
#dj-classifieds .nav-tabs .nav-toggler {
  cursor: pointer;
}
#dj-classifieds .nav-tabs .nav-toggler.active {
  cursor: auto;
}
#dj-classifieds .dj-item .sb_bottom {
  margin: 20px;
  float: left;
  width: 100%;
}
#dj-classifieds .djcf-ad-item-bottom {
  margin-top: 30px;
}
#dj-classifieds .djcf-ad-item-bottom .moduletable {
  margin-bottom: 0;
}
#dj-classifieds .dj-item #section-kmt .kmt-title {
  text-align: center;
  vertical-align: middle;
  line-height: 33px;
}
#dj-classifieds .dj-item #section-kmt .kmt-toolbar {
  margin-top: 10px;
}
#dj-classifieds .search_res_details {
  padding: 0 0 10px;
}
#dj-classifieds .userpoints .points_available {
  text-align: right;
  font-size: 1.2em;
  padding-right: 5px;
  margin: 10px 0;
}
#dj-classifieds .userpoints .points_available span {
  font-weight: bold;
  display: inline-block;
}
.djcf_user_points .djcf_upoints_box,
.jm-module.white-ms .djcf_user_points .djcf_upoints_box {
  border-bottom: 1px solid #ececec;
}
#dj-classifieds .profile_outer .profile_box {
  display: table;
  width: 100%;
}
#dj-classifieds .profile_outer .profile_img {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}
#dj-classifieds .profile_outer .profile_name_data {
  display: table-cell;
  vertical-align: top;
}
#dj-classifieds .profile_outer .profile_name_data .profile_data {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
}
#dj-classifieds .profile_outer .profile_row {
  clear: both;
}
#dj-classifieds .profile_outer .profile_row_label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: right;
  width: 25%;
  vertical-align: middle;
}
#dj-classifieds .profile_outer .profile_row_value {
  float: left;
  width: 75%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
#dj-classifieds .pointspackages .pp_price {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: #266892;
}
#dj-classifieds .pointspackages .paymentdetails {
  margin: 0 -15px 30px;
}
#dj-classifieds .pointspackages .djcf_prow {
  padding: 0 15px 30px;
  width: 33.33%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .pointspackages .djcf_prow_col_desc {
  margin: 0 0 15px;
}
#dj-classifieds .pointspackages .djcf_prow_details_title {
  font-weight: 400;
  font-size: inherit;
  color: #266892;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
}
#dj-classifieds .pointspackages .djcf_prow_details_title:hover {
  text-decoration: underline;
}
#dj-classifieds .pointspackages .djcf_prow_details_title:after {
  content: '+';
  margin: 0 3px;
}
#dj-classifieds .pointspackages .djcf_prow_details_title.active:after {
  content: '-';
}
#dj-classifieds .pointspackages table.paymentdetails td.table_payment table td.td2 {
  border-left: none;
  width: 70%;
}
#dj-classifieds .pointspackages h3 {
  font-size: 1.3em;
  margin: 0 0 10px 0;
}
#dj-classifieds table.paymentdetails {
  width: 100%;
}
#dj-classifieds table.paymentdetails.first {
  margin-bottom: 20px;
}
#dj-classifieds table.paymentdetails .payment_td {
  border: 1px solid #e0e0e0;
}
#dj-classifieds table.paymentdetails td.td_pdetails {
  padding: 20px 0 0;
}
#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row {
  padding: 10px 0 0;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  display: inline-block;
  width: 100%;
}
#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row:first-child {
  padding: 0;
  margin: 0;
  border: none;
}
#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row .djcfpay_label {
  font-weight: bold;
}
#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_total {
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  background: #ffffff;
}
#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_total span {
  float: none;
  padding: 0;
}
#dj-classifieds table.paymentdetails td.td_pdetails div span {
  padding: 0 5px;
}
#dj-classifieds table.paymentdetails td.td_pdetails div span.price {
  float: right;
}
#dj-classifieds table.paymentdetails td.td_title {
  background: none;
  font-weight: normal;
  padding: 0;
  line-height: 1.5;
  border-bottom: none;
  border-top: none;
}
#dj-classifieds table.paymentdetails .table_payment {
  padding: 10px 0 0;
}
#dj-classifieds table.paymentdetails .table_payment table td {
  vertical-align: middle;
}
#dj-classifieds table.paymentdetails .table_payment table td.td1 img,
#dj-classifieds table.paymentdetails .table_payment table td.td3 img {
  vertical-align: middle;
}
#dj-classifieds table.paymentdetails .table_payment table td.td2 {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  vertical-align: top;
}
#dj-classifieds table.paymentdetails .table_payment table td.td2 table {
  margin-top: 10px;
}
#dj-classifieds table.paymentdetails .table_payment table td.td2 table th {
  text-align: left;
}
#dj-classifieds table.paymentdetails .table_payment table td.td2 table select,
#dj-classifieds table.paymentdetails .table_payment table td.td2 table input {
  margin: 5px;
}
#dj-classifieds table.paymentdetails .table_payment table td.td2 {
  padding: 20px;
}
#dj-classifieds table.paymentdetails .table_payment table div.email_box span {
  margin: 10px 0 5px;
  display: block;
}
#dj-classifieds table.paymentdetails .table_payment table div.email_box input.validate-email {
  width: 200px;
}
#dj-classifieds table.paymentdetails td.table_payment a.button {
  margin: 5px;
}
#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_tax {
  clear: both;
  overflow: auto;
}
#dj-classifieds .pointspackages .djcf_prow_details_content .djcf_prow_desc_label {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}
#dj-classifieds .pointspackages .djcf_prow_details_content .djcf_prow_desc_value {
  display: inline-block;
}
#dj-classifieds .pointspackages .icon_active,
#dj-classifieds .pointspackages .icon_unactive {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/classifieds/icon_active.png");
  vertical-align: middle;
}
#dj-classifieds .pointspackages .icon_unactive {
  background: url("../images/classifieds/icon_unactive.png");
}
#dj-classifieds .djcf_warning_outer .djcf_warning_outer_in {
  padding: 10px 20px;
}
#dj-classifieds .djcf_warning_outer .djcf_war_content {
  text-align: center;
}
#dj-classifieds .djcf_warning_outer .djcf_war_link {
  text-align: center;
}
#dj-classifieds .djcf_warning_outer .djcf_war_buttons {
  margin: 20px 0 10px;
  text-align: center;
  width: 100%;
}
#dj-classifieds .djcf_warning_outer .djcf_war_buttons .button {
  margin: 0 10px;
  float: none;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det {
  padding: 10px 20px;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_row_total {
  padding: 20px;
  background: #ffffff;
  margin: 30px 0;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_row_total .ch_label {
  display: inline-block;
  vertical-align: middle;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_row_total .ch_value {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  color: #266892;
  margin: 0 5px;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_row_button .button {
  float: left;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_row_button form .button {
  margin-left: 30px;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det form {
  margin: 0;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_row {
  margin: 10px 0;
}
#dj-classifieds .djcf_checkout_outer .djcf_checkout_det .ch_label {
  font-weight: bold;
}
.mod_djclassifieds_items .items {
  margin-left: -15px;
  margin-right: -15px;
}
.mod_djclassifieds_items .item {
  display: inline-block;
  width: 100%;
  margin: 30px 0 0;
  padding: 0;
  position: relative;
}
.mod_djclassifieds_items .item:first-child {
  margin: 0;
  padding: 0;
}
.mod_djclassifieds_items .items-col {
  float: left;
}
.mod_djclassifieds_items .items-col .icol-in {
  padding: 0 15px 0;
}
.mod_djclassifieds_items .items-cols1 .items-col {
  width: 100%;
}
.mod_djclassifieds_items .items-cols2 .items-col {
  width: 49.9%;
}
.mod_djclassifieds_items .items-cols3 .items-col {
  width: 33.3%;
}
.mod_djclassifieds_items .items-cols4 .items-col {
  width: 24.9%;
}
.mod_djclassifieds_items .items-cols5 .items-col {
  width: 19.9%;
}
.mod_djclassifieds_items .items-cols6 .items-col {
  width: 16.6%;
}
.mod_djclassifieds_items .items-cols7 .items-col {
  width: 14.2%;
}
.mod_djclassifieds_items .items-cols8 .items-col {
  width: 12.4%;
}
.mod_djclassifieds_items .items-cols9 .items-col {
  width: 11.1%;
}
.mod_djclassifieds_items .items-cols10 .items-col {
  width: 9.9%;
}
.mod_djclassifieds_items div.title {
  float: left;
  width: 100%;
}
.mod_djclassifieds_items div.title a.title {
  font-size: 19px;
  line-height: 1.1;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 12px;
  margin-bottom: 11px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.mod_djclassifieds_items div.title a.title:after {
  position: absolute;
  content: '';
  width: 62px;
  height: 2px;
  left: 0;
  right: auto;
  bottom: 0;
  background: #266892;
}
.mod_djclassifieds_items div.title span.category a.title_cat {
  font-weight: 600;
  text-decoration: none;
}
.mod_djclassifieds_items div.title span.category a.title_cat:hover {
  text-decoration: underline;
}
.mod_djclassifieds_items div.title span {
  font-weight: 600;
  line-height: 1.2;
}
.mod_djclassifieds_items div.title span.date {
  font-size: 13px;
}
.mod_djclassifieds_items div.title span.price {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mod_djclassifieds_items div.title span.date,
.mod_djclassifieds_items div.title span.category,
.mod_djclassifieds_items div.title span.region,
.mod_djclassifieds_items div.title span.type,
.mod_djclassifieds_items div.title span.price {
  padding-bottom: 3px;
  display: block;
}
.mod_djclassifieds_items div.title img {
  float: left;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 20px !important;
}
.mod_djclassifieds_items .desc {
  font-size: 13px;
  line-height: 1.5;
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jm-image-block .mod_djclassifieds_items .title img {
  float: none;
  display: block;
}
.mod_djclassifieds_items div.title a.title:hover,
.jm-module.white-ms .mod_djclassifieds_items div.title a.title:hover {
  color: #266892;
}
.mod_djclassifieds_items div.title a.title,
.mod_djclassifieds_items div.title span,
.jm-module.white-ms .mod_djclassifieds_items div.title a.title,
.jm-module.white-ms .mod_djclassifieds_items div.title span {
  color: #372f2b;
}
.mod_djclassifieds_items div.title span.category a.title_cat,
.jm-module.white-ms .mod_djclassifieds_items div.title span.category a.title_cat {
  color: #888888;
}
.mod_djclassifieds_items div.title span,
.jm-module.white-ms .mod_djclassifieds_items div.title span {
  color: #372f2b;
}
.jm-bottom .mod_djclassifieds_items div.title a.title:hover {
  color: #3993cb;
}
.jm-bottom .mod_djclassifieds_items div.title a.title:after {
  background: #215a7e;
}
.jm-bottom .mod_djclassifieds_items .item:before,
.jm-bottom .mod_djclassifieds_items .item:after {
  border-color: #215a7e;
}
.jm-bottom .mod_djclassifieds_items div.title span.category a.title_cat {
  color: #3993cb;
}
.jm-bottom .djcf_user_points .djcf_upoints_box {
  border-bottom: 1px solid #215a7e;
}
.jm-bottom .mod_djclassifieds_items div.title a.title,
.jm-bottom .mod_djclassifieds_items div.title span {
  color: #ffffff;
}
.jm-footer .mod_djclassifieds_items div.title a.title,
.jm-offcanvas .mod_djclassifieds_items div.title a.title,
.jm-footer .mod_djclassifieds_items div.title span,
.jm-offcanvas .mod_djclassifieds_items div.title span {
  color: #ffffff;
}
.jm-footer .mod_djclassifieds_items div.title a.title:hover,
.jm-offcanvas .mod_djclassifieds_items div.title a.title:hover {
  color: #266892;
}
.jm-footer .mod_djclassifieds_items .item:before,
.jm-offcanvas .mod_djclassifieds_items .item:before,
.jm-footer .mod_djclassifieds_items .item:after,
.jm-offcanvas .mod_djclassifieds_items .item:after {
  border-color: #b02301;
}
.jm-footer .mod_djclassifieds_items div.title span.category a.title_cat,
.jm-offcanvas .mod_djclassifieds_items div.title span.category a.title_cat {
  color: #888888;
}
.jm-footer .djcf_user_points .djcf_upoints_box,
.jm-offcanvas .djcf_user_points .djcf_upoints_box {
  border-bottom: 1px solid #b02301;
}
.mod_djclassifieds_items.mod_djcf_slider {
  position: relative;
}
.mod_djclassifieds_items.mod_djcf_slider .items-outer {
  overflow: hidden;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mod_djclassifieds_items.mod_djcf_slider .items {
  overflow: hidden;
  margin: 10px 0 0 0px;
}
.mod_djclassifieds_items.mod_djcf_slider .items-content {
  opacity: 0;
  filter: alpha(opacity=0);
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols1 .item-box {
  width: 100%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols2 .item-box {
  width: 49.9%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols3 .item-box {
  width: 33.3%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols4 .item-box {
  width: 24.9%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols5 .item-box {
  width: 19.9%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols6 .item-box {
  width: 16.6%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols7 .item-box {
  width: 14.2%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols8 .item-box {
  width: 12.4%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols9 .item-box {
  width: 11.1%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-cols10 .item-box {
  width: 9.9%;
}
.mod_djclassifieds_items.mod_djcf_slider .items-content .item-box {
  float: left;
}
.mod_djclassifieds_items.mod_djcf_slider .items-content .item-box .item {
  border: none;
  margin: 0;
  padding: 0;
}
.mod_djclassifieds_items.mod_djcf_slider .items-content .item-box .item-box-in {
  padding: 0 5px 5px;
}
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_left,
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_right {
  width: 30px;
  height: 30px;
  left: 5px;
  right: auto;
  top: 50px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  display: none;
  background: #75796f url('../images/classifieds/slider_arrow_left.png') center 8px no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_right {
  background: #75796f url('../images/classifieds/slider_arrow_right.png') center 8px no-repeat;
  left: auto;
  right: 5px;
}
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_right.blocked {
  background: #cccccc url('../images/classifieds/slider_arrow_right.png') center 8px no-repeat;
}
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_left.blocked {
  background: #cccccc url('../images/classifieds/slider_arrow_left.png') center 8px no-repeat;
}
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_loader {
  position: absolute;
  width: 100%;
  height: 31px;
  top: 50px;
  left: 0;
  right: auto;
}
.mod_djclassifieds_items.mod_djcf_slider .djcf_slider_loader_img {
  width: 31px;
  height: 31px;
  margin: 0 auto;
  background: url('../images/classifieds/slider_loader.gif') top left no-repeat;
}
.mod_djclassifieds_items.mod_djcf_slider .item:before,
.mod_djclassifieds_items.mod_djcf_slider .item:after {
  display: none !important;
}
.djcf_menu .newad_link_bottom {
  margin-top: 10px;
  text-align: center;
}
#jm-allpage .djcf_menu a.button {
  padding: 8px 15px 7px;
}
.djcf_user_points ul.menu li:hover > a,
.djcf_user_menu ul.menu li:hover > a,
.jm-module.white-ms .djcf_user_points ul.menu li:hover > a,
.jm-module.white-ms .djcf_user_menu ul.menu li:hover > a,
.djcf_user_points ul.menu li.active > a,
.djcf_user_menu ul.menu li.active > a,
.jm-module.white-ms .djcf_user_points ul.menu li.active > a,
.jm-module.white-ms .djcf_user_menu ul.menu li.active > a {
  color: #266892;
}
.jm-bottom .djcf_user_points ul.menu li:hover > a,
.jm-bottom .djcf_user_menu ul.menu li:hover > a,
.jm-bottom .djcf_user_points ul.menu li.active > a,
.jm-bottom .djcf_user_menu ul.menu li.active > a {
  color: #3993cb;
}
.jm-bottom .djcf_user_points ul.menu > li,
.jm-bottom .djcf_user_menu ul.menu > li {
  border-bottom: 1px solid #215a7e;
}
/* V */
.jm-bottom .djcf_menu .menu > li.active:after,
.jm-bottom .djcf_menu .menu > li.active:hover:after {
  border-color: #215a7e transparent transparent transparent;
  border-color: #215a7e rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
/* > */
.jm-bottom .djcf_menu .menu > li:hover:after {
  border-color: transparent transparent transparent #215a7e;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #215a7e;
}
.tags .djcf_menu .menu > li.active:after {
  display: none !important;
}
.tags .djcf_menu .menu > li:hover:after {
  top: 12px;
}
.dj_cf_search form {
  margin: 0;
}
.dj_cf_search div input[type="text"],
.dj_cf_search div select {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.dj_cf_search div:empty {
  display: none;
}
.dj_cf_search .djcf_se_row {
  margin: 0 0 20px;
  float: left;
}
.dj_cf_search .djcf_se_row div {
  margin: 20px 0 0;
}
.dj_cf_search .search_price .label1,
.dj_cf_search .search_price .label2 {
  display: inline-block;
  vertical-align: middle;
}
.dj_cf_search .search_price input[type="text"] {
  width: 53px;
  margin: 0 5px;
}
.dj_cf_search .from_class,
.dj_cf_search .to_class {
  display: inline-block;
  vertical-align: middle;
}
.dj_cf_search .from_class + input[type='text'],
.dj_cf_search .to_class + input[type='text'] {
  width: 53px !important;
  margin: 0 5px;
}
.dj_cf_search .from_class + select,
.dj_cf_search .to_class + select {
  margin: 0 5px;
}
.dj_cf_search .search_ex_fields.no_fields {
  display: none;
}
.dj_cf_search .search_ex_fields .djseform_field {
  margin: 0 0 10px;
}
.dj_cf_search input[type="radio"],
.dj_cf_search input[type="checkbox"] {
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.dj_cf_search .search_radius.se_radius_geoloc input[type='text'] {
  margin-bottom: 10px;
}
.dj_cf_search .search_radius.se_radius_geoloc .se_geoloc_or_label {
  display: none;
}
.dj_cf_search .search_radius.se_radius_geoloc .se_geoloc_icon {
  display: inline-block;
  margin-bottom: 0;
  line-height: 20px;
  text-decoration: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  padding: 9px 30px 9px 30px;
  border: none !important;
  color: #ffffff !important;
  background-color: #;
  background-image: -moz-linear-gradient(top, #266892, #215a7e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#266892), to(#215a7e));
  background-image: -webkit-linear-gradient(top, #266892, #215a7e);
  background-image: -o-linear-gradient(top, #266892, #215a7e);
  background-image: linear-gradient(to bottom, #266892, #215a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff266892', endColorstr='#ff215a7e', GradientType=0);
  -webkit-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  -moz-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  padding: 0;
  width: 38px;
  height: 38px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
.dj_cf_search .search_radius.se_radius_geoloc .se_geoloc_icon:hover,
.dj_cf_search .search_radius.se_radius_geoloc .se_geoloc_icon:focus {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background: #215a7e;
}
.dj_cf_search .search_radius.se_radius_geoloc .se_geoloc_icon:before {
  content: "\e062";
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dj_cf_search label,
.dj_cf_search span.label {
  background: #eaeaea;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 10px;
  padding: 5px 10px;
  vertical-align: middle;
  width: 100%;
  color: #656565;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  cursor: default;
}
.dj_cf_search .range_label {
  display: none;
}
.dj_cf_search .search_only_video .label,
.dj_cf_search .search_only_images .label,
.dj_cf_search .search_also_18 .label,
.dj_cf_search .search_only_auctions .label {
  display: inline-block;
  line-height: 1.2;
  background: none;
  color: inherit;
  margin: 0;
  padding: 0;
  width: auto;
}
.dj_cf_search .se_checkbox label,
.dj_cf_search .radiofield_box label {
  display: inline;
  margin: 0;
  padding: 0 4px;
  background: none !important;
}
.dj_cf_search .search_buttons {
  clear: both;
  margin: 10px 0 0;
}
.dj_cf_search .search_buttons a.reset_button {
  margin: 10px;
}
.dj_cf_search .search_buttons .button + .button {
  margin-left: 10px;
}
.dj_cf_search .djfields_accordion_c .label,
.dj_cf_search .djfields_accordion_o .label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
.dj_cf_search .djfields_accordion_c .label.active,
.dj_cf_search .djfields_accordion_o .label.active {
  margin-bottom: 10px;
}
.dj_cf_search .djfields_accordion_c .label:after,
.dj_cf_search .djfields_accordion_o .label:after {
  content: '+';
  position: absolute;
  right: 5px;
  left: auto;
}
.dj_cf_search .djfields_accordion_c .label.active:after,
.dj_cf_search .djfields_accordion_o .label.active:after {
  content: '-';
}
.dj_cf_search.dj_cf_search_horizontal {
  *zoom: 1;
}
.dj_cf_search.dj_cf_search_horizontal:before,
.dj_cf_search.dj_cf_search_horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dj_cf_search.dj_cf_search_horizontal:after {
  clear: both;
}
.dj_cf_search.dj_cf_search_horizontal .search_type,
.dj_cf_search.dj_cf_search_horizontal .search_time,
.dj_cf_search.dj_cf_search_horizontal .search_price {
  float: left;
  width: 31.33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius,
.dj_cf_search.dj_cf_search_horizontal .search_regions,
.dj_cf_search.dj_cf_search_horizontal .search_cats {
  *zoom: 1;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius:before,
.dj_cf_search.dj_cf_search_horizontal .search_regions:before,
.dj_cf_search.dj_cf_search_horizontal .search_cats:before,
.dj_cf_search.dj_cf_search_horizontal .search_radius:after,
.dj_cf_search.dj_cf_search_horizontal .search_regions:after,
.dj_cf_search.dj_cf_search_horizontal .search_cats:after {
  display: table;
  content: "";
  line-height: 0;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius:after,
.dj_cf_search.dj_cf_search_horizontal .search_regions:after,
.dj_cf_search.dj_cf_search_horizontal .search_cats:after {
  clear: both;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius input[type="text"],
.dj_cf_search.dj_cf_search_horizontal .search_regions input[type="text"],
.dj_cf_search.dj_cf_search_horizontal .search_cats input[type="text"],
.dj_cf_search.dj_cf_search_horizontal .search_radius select,
.dj_cf_search.dj_cf_search_horizontal .search_regions select,
.dj_cf_search.dj_cf_search_horizontal .search_cats select {
  float: left;
  width: 31.33%;
  margin-right: 2%;
  display: none;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius div,
.dj_cf_search.dj_cf_search_horizontal .search_regions div,
.dj_cf_search.dj_cf_search_horizontal .search_cats div {
  margin: 0;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius div div div input[type="text"],
.dj_cf_search.dj_cf_search_horizontal .search_regions div div div input[type="text"],
.dj_cf_search.dj_cf_search_horizontal .search_cats div div div input[type="text"],
.dj_cf_search.dj_cf_search_horizontal .search_radius div div div select,
.dj_cf_search.dj_cf_search_horizontal .search_regions div div div select,
.dj_cf_search.dj_cf_search_horizontal .search_cats div div div select {
  margin-top: 20px;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius .clear_both,
.dj_cf_search.dj_cf_search_horizontal .search_regions .clear_both,
.dj_cf_search.dj_cf_search_horizontal .search_cats .clear_both {
  display: none;
}
.dj_cf_search.dj_cf_search_horizontal .search_only_video,
.dj_cf_search.dj_cf_search_horizontal .search_only_images,
.dj_cf_search.dj_cf_search_horizontal .search_also_18,
.dj_cf_search.dj_cf_search_horizontal .search_only_auctions {
  clear: both;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius.se_radius_geoloc input[type='text'] {
  margin-bottom: 0;
}
.dj_cf_search.dj_cf_search_horizontal .search_radius.se_radius_geoloc .se_geoloc_icon {
     position: relative;
     z-index:99;
      float: left;
    margin-right: 2%;
    margin-top: -57px;
    padding: 1px;
    margin-left: -3px;
    border-radius: 0px;
}
.dj_cf_search.dj_cf_search_horizontal .search_ex_fields {
  *zoom: 1;
}
.dj_cf_search.dj_cf_search_horizontal .search_ex_fields:before,
.dj_cf_search.dj_cf_search_horizontal .search_ex_fields:after {
  display: table;
  content: "";
  line-height: 0;
}
.dj_cf_search.dj_cf_search_horizontal .search_ex_fields:after {
  clear: both;
}
.dj_cf_search.dj_cf_search_horizontal .search_ex_fields .djseform_field {
  float: left;
  width: 31.33% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj_cf_search.dj_cf_search_horizontal .search_ex_fields .djseform_field + .djseform_field {
  margin-left: 2%;
}
.dj_cf_search.dj_cf_search_horizontal div.search_ex_fields .djseform_field:nth-of-type(3n+1) {
  clear: both;
  margin-left: 0;
  margin-right: 0;
}
.white-ms .dj_cf_search label,
.white-ms .dj_cf_search span.label {
  background: #f6f6f6;
}
.djcf_user_points .djcf_upoints_box {
  padding: 10px 0;
}
.djcf_user_points .djcf_upoints_box .djcf_upoints {
  font-size: 1.2em;
  margin-left: 10px;
  display: inline-block;
}
.djmod_map img {
  max-width: none;
}
#djmod_map_box #djmod_map img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: none;
}
.djmod_map_places_search .pac-input {
  width: 400px;
  margin: 0 0 20px;
}
.djmod_map_places_search .user_pos {
  display: none;
}
.mod_djclassifieds_cattree .dj-cattree-box ul.dj-cattree {
  float: left;
  margin: 0;
}
.mod_djclassifieds_cattree .dj-cattree-box li {
  padding: 0;
  margin: 0 0 5px;
  background-image: none !important;
}
.mod_djclassifieds_cattree .dj-cattree-box > li {
  margin: 0 0 30px;
}
.mod_djclassifieds_cattree .dj-cattree-box ul.dj-cattree li.lvl0 > a {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px;
}
.mod_djclassifieds_cattree .dj-cattree-box ul.dj-cattree li a img.cat_tree_icon {
  float: left;
  height: 25px;
  margin: 0 10px 0 0;
}
.mod_djclassifieds_cattree .dj-cattree-box ul.dj-cattree > li > a > img.cat_tree_icon {
  float: none !important;
  height: auto;
  display: block;
  margin: 0 auto 10px!important;
  text-align: center;
}
.mod_djclassifieds_cattree .dj-cattree-box li.lvl0.items_cat_type .title {
  margin-bottom: 10px;
}
.mod_djclassifieds_cattree .dj-cattree-box li.lvl0.items_cat_type .title h2 {
  margin-bottom: 10px;
  font-weight: bold;
}
.mod_djclassifieds_cattree .dj-cattree-box li.lvl0 .title h2,
.mod_djclassifieds_cattree .dj-cattree-box li.lvl0 .title h2 a {
  font-size: 13px;
  line-height: 18px;
}
.mod_djclassifieds_cattree .dj-cattree-box li.lvl0.items_cat_type .title .cat_desc {
  font-weight: normal;
}
.mod_djclassifieds_cattree .dj-cattree-box.cols2 .dj-cattree {
  width: 49.9%;
}
.mod_djclassifieds_cattree .dj-cattree-box.cols3 .dj-cattree {
  width: 33.3%;
}
.mod_djclassifieds_cattree .dj-cattree-box.cols4 .dj-cattree {
  width: 24.9%;
}
.mod_djclassifieds_cattree .dj-cattree-box.cols5 .dj-cattree {
  width: 19.9%;
}
.djcf_label,
.djcf {
  z-index: 1000;
  margin: 20px 0;
}
.djcf .tip,
.djcf_label .tip {
  border: 1px solid #e0e0e0;
  background: #ffffff;
  padding: 15px;
  max-width: 800px;
  min-width: 200px;
}
.djcf_label .tip {
  max-width: 400px;
  min-width: 0;
}
.djcf .tip-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.djcf .tip-title,
.djcf .tip-text {
  margin: 10px 0;
}
.djcf .tip-text,
.djcf_label .tip-title {
  font-size: 0.9em;
}
.djcf .tip-text .tp_desc,
.djcf .tip-text .tp_contact,
.djcf .tip-text .tp_price,
.djcf .tip-text .row_location {
  padding: 0 0 15px;
}
.djcf .tip-text .row_location,
.djcf .tip-text .row_contact {
  width: 35%;
  float: left;
  margin-right: 5%;
}
.djcf .tip-text .row_price {
  width: 20%;
  float: left;
}
.tip-text .images_box img {
  margin-right: 5px;
}
.tip-text .row_title,
.tip-text .title {
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0 0 5px;
}
.djcf_prom {
  z-index: 9999;
}
.djcf_prom .tip {
  background: transparent;
  border: none;
}
img.callendar {
  cursor: pointer;
}
#dj-classifieds .dj-item_button {
  margin-left: 5px;
}
#lbPrevLink,
#lbNextLink {
  background: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#multiuploader_file .plupload_button,
#uploader_container .plupload_button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  text-decoration: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  padding: 9px 30px 9px 30px;
  border: none !important;
  color: #ffffff !important;
  background-color: #;
  background-image: -moz-linear-gradient(top, #266892, #215a7e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#266892), to(#215a7e));
  background-image: -webkit-linear-gradient(top, #266892, #215a7e);
  background-image: -o-linear-gradient(top, #266892, #215a7e);
  background-image: linear-gradient(to bottom, #266892, #215a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff266892', endColorstr='#ff215a7e', GradientType=0);
  -webkit-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  -moz-box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  box-shadow: inset 0px -1px 1px 0px #1b4b6a;
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
}
#multiuploader_file .plupload_button:hover,
#uploader_container .plupload_button:hover,
#multiuploader_file .plupload_button:focus,
#uploader_container .plupload_button:focus {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background: #215a7e;
}
#multiuploader_file .plupload_hidden,
#uploader_container .plupload_hidden {
  display: none;
}
.djc_uploader_table td {
  vertical-align: middle;
}

  .footer {
    border-top: 1px solid #cdcdcd;
    margin: 4px -22px;
    text-align: center;
    color: #666;
    padding-top: 13px;
    font-size: 11px;
}
