.responsive-disabled,
.responsive-disabled #jm-allpage {
  min-width: 1008px;
}
#jm-allpage {
  position: relative;
  background: #f6f6f6;
}
.sticky-bar.top-bar #jm-allpage {
  padding-top: 50px;
}
#jm-top-bar {
  background: #222222;
  width: 100%;
  position: relative;
}
.sticky-bar #jm-top-bar {
  top: 0;
  left: 0;
  right: auto;
  position: fixed;
  z-index: 999;
}
#jm-top-bar-mod {
  text-align: right;
  color: #ffffff;
}
#jm-top-bar-mod p {
  margin: 0;
}
#jm-logo-sitedesc {
  padding: 5px 0;
}
#jm-logo-sitedesc #jm-logo {
  line-height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0;
}
#jm-logo-sitedesc #jm-logo a {
  color: #ffffff;
  display: block;
  line-height: 1;
  text-decoration: none;
}
#jm-logo-sitedesc #jm-logo a img {
  vertical-align: top;
  border: none;
}
#jm-logo-sitedesc #jm-logo a:hover {
  color: #266892;
}
#jm-logo-sitedesc #jm-logo span {
  font-size: 2em;
  font-weight: bold;
  line-height: 40px;
}
#jm-logo-sitedesc #jm-sitedesc {
  line-height: 40px;
  vertical-align: middle;
  color: #ffffff;
  padding: 0 0 0 10px;
}
#jm-header {
  background-color: #5f5f5f;
  position: relative;
  padding-top: 30px;
  padding-bottom: 60px;
  color: #ffffff;
}
#jm-header .jm-title {
  color: #ffffff;
}
.top-mod #jm-header {
  padding-bottom: 0;
}
#jm-header + #jm-main {
  padding: 0;
}
#jm-header + #jm-main .container-fluid {
  margin-top: -60px;
  background: #f6f6f6;
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}
@media (max-width: 978px) {
  #jm-header + #jm-main .container-fluid {
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
#jm-system-message {
  padding-top: 30px;
}
#jm-top-mod {
  padding-top: 30px;
  background: #ffffff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  color: #6a6a6a;
}
#jm-top-mod .jm-title {
  color: #372f2b;
}
#jm-top-mod1-in {
  padding-right: 15px;
}
#jm-top-mod2-in {
  padding-left: 15px;
}
.span12 #jm-top-mod1-in,
.span12 #jm-top-mod2-in {
  padding: 0;
}
#jm-djmenu {
  margin: 0 0 30px;
}
#jm-top {
  padding: 30px 0 0;
  background: #f6f6f6;
  color: #6a6a6a;
}
#jm-breadcrumbs .breadcrumb {
  padding: 12px 0;
  border-top: 1px dotted #ececec;
  border-bottom: 1px dotted #ececec;
  margin-bottom: 30px;
}
#jm-breadcrumbs .breadcrumb a {
  text-decoration: none;
}
#jm-font-switcher {
  text-align: right;
  margin: 0 0 15px;
}
#jm-main {
  padding: 30px 0 0;
  background: #f6f6f6;
}
#jm-maincontent {
  margin-bottom: 30px;
}
#jm-bottom1,
#jm-bottom2,
#jm-bottom3,
#jm-footer-mod {
  padding: 30px 0 0;
}
#jm-bottom1 {
  background: #ffffff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  color: #6a6a6a;
}
#jm-bottom1 .jm-title {
  color: #372f2b;
}
#jm-bottom2 {
  background: #f6f6f6;
  color: #6a6a6a;
}
#jm-bottom3 {
  background: #266892;
  color: #ffffff;
}
#jm-bottom3 .jm-title {
  color: #ffffff;
}
#jm-footer-mod {
  background: #991e01;
  color: #ffffff;
}
#jm-footer-mod .jm-title {
  color: #ffffff;
}
#jm-footer {
  padding: 20px 0;
  background: #821a01;
  color: #5d5d5d;
  font-size: 13px;
}
#jm-footer a {
  text-decoration: none;
  color: #848484;
}
#jm-footer a:hover {
  color: #266892;
}
#jm-footer-right {
  text-align: right;
}
#jm-footer-left,
#jm-footer-right {
  line-height: 1.2;
}
#jm-back-top {
  bottom: 20px;
  position: fixed;
  right: 20px;
  left: auto;
}
#jm-back-top a {
  text-decoration: none;
  display: block;
}
#jm-back-top a:hover {
  cursor: pointer;
  text-decoration: none;
}
#jm-back-top span {
  display: block;
  height: 80px;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  width: 80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: url("../images/backtotop.png") no-repeat center center rgba(0, 0, 0, 0.2);
}
#jm-back-top span:hover {
  background: url("../images/backtotop.png") no-repeat center center rgba(0, 0, 0, 0.3);
}
#jm-top + #jm-main,
#jm-top + #jm-system-message,
#jm-top + #jm-bottom2,
#jm-system-message + #jm-main,
#jm-system-message + #jm-bottom2,
#jm-main + #jm-bottom2 {
  padding-top: 0;
}
#jm-top-mod + #jm-bottom1 {
  border-top: none;
}
.responsive-disabled {
  min-width: 978px;
}
.responsive-disabled #jm-allpage {
  padding: 0 !important;
  min-width: 978px;
}
.responsive-disabled #jm-top-bar {
  position: static;
}
.texttoggler {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none !important;
  margin: 0 1px;
  display: inline-block;
}
.texttoggler.small {
  font-size: 0.8em;
}
.texttoggler.normal {
  font-size: 1.1em;
}
.texttoggler.large {
  font-size: 1.3em;
}
.smallview #jm-maincontent {
  font-size: 0.9em;
  line-height: 1.7;
}
.largeview #jm-maincontent {
  font-size: 1.1em;
  line-height: 1.7;
}
.span0 {
  float: none !important;
}
.span50 {
  float: left !important;
  width: 50% !important;
}
.jm-module {
  margin-bottom: 30px;
}
.jm-module .jm-title {
  margin: 0 0 15px;
  font-weight: 600;
  color: #372f2b;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
.moduletable {
  margin-bottom: 30px;
}
.moduletable > h3 {
  margin: 0 0 15px;
  font-weight: 600;
  color: #372f2b;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
.jm-module.title-small-ms .jm-title {
  font-size: 16.15px;
  margin: 0 0 30px;
  letter-spacing: 2px;
}
.jm-module.title-border1-ms .jm-title {
  font-size: 22px;
  margin: 0 0 30px;
  padding: 0 0 32px;
  position: relative;
  letter-spacing: 2px;
}
.jm-module.title-border1-ms .jm-title:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100px;
  background: #c8ccce;
  bottom: 0;
  left: 0;
  right: auto;
}
.jm-module.title-border2-ms .jm-title {
  text-align: center;
  font-size: 22px;
  margin: 0 0 30px;
  padding: 35px 0 0;
  position: relative;
}
.jm-module.title-border2-ms .jm-title:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 200px;
  background: #c8ccce;
  top: 0;
  left: 50%;
  right: auto;
  margin-left: -100px;
  max-width: 100%;
}
#jm-allpage .jm-module.title-color-ms .jm-title {
  font-size: 22px;
  margin: 0 0 30px;
  text-align: center;
  color: #266892;
}
#jm-allpage .jm-bottom .jm-module.title-color-ms .jm-title {
  color: #ffffff;
}
#jm-allpage .jm-module.white-ms {
  background: #ffffff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #d3d3d3;
  -webkit-box-shadow: 0px 2px 1px -1px #ececec;
  -moz-box-shadow: 0px 2px 1px -1px #ececec;
  box-shadow: 0px 2px 1px -1px #ececec;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#jm-allpage .jm-module.white-ms .jm-module-content {
  color: #6a6a6a;
  padding: 20px;
}
#jm-allpage .jm-module.white-ms .jm-title {
  color: #372f2b;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #ececec;
}
#jm-allpage .jm-module.margin-ms,
#jm-allpage .jm-module-raw.margin-ms {
  margin: 0;
}
#jm-allpage .jm-module.side-margin-ms {
  margin-left: -30px;
  margin-right: -30px;
}
#jm-allpage .search-ms form {
  margin: 0 auto;
  position: relative;
  max-width: 745px;
}
#jm-allpage .search-ms form > .search-wrapper {
  margin: 10px 0 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 0px 1px #b8b8b8;
  -moz-box-shadow: 0px 0px 0px 1px #b8b8b8;
  box-shadow: 0px 0px 0px 1px #b8b8b8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#jm-allpage .search-ms form > .search_word {
  float: none;
  width: auto;
  margin: 0;
}
#jm-allpage .search-ms form > .search_word label {
  display: none;
}
#jm-allpage .search-ms .inputbox.first_input,
#jm-allpage .search-ms .inputbox.search-query {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  font-size: 19px;
  font-weight: 300;
  color: #888888;
  font-family: inherit;
  -webkit-box-shadow: 0px 0px 0px 1px #b8b8b8;
  -moz-box-shadow: 0px 0px 0px 1px #b8b8b8;
  box-shadow: 0px 0px 0px 1px #b8b8b8;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 8px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 100% !important;
  max-width: none;
  height: 55px;
  min-height: 55px;
  padding: 0 45px 0 20px;
  margin: 0;
}
#jm-allpage .search-ms .inputbox.first_input:focus,
#jm-allpage .search-ms .inputbox.search-query:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #b8b8b8;
  -moz-box-shadow: 0px 0px 0px 1px #b8b8b8;
  box-shadow: 0px 0px 0px 1px #b8b8b8;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
#jm-allpage .search-ms button.button,
#jm-allpage .search-ms input.button {
  font-size: 0;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  filter: none !important;
  width: 18px;
  height: 18px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 18px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 18px;
  right: 20px;
  background-image: url("../images/scheme1/search.png");
}
#jm-allpage .search-ms .dj_cf_search label,
#jm-allpage .search-ms .dj_cf_search span.label {
  background: none;
  color: #ffffff;
  padding: 0;
}
.search-ms form {
  display: none;
}
.search-ms.visible form {
  display: block;
}
.search-ms.advanced form > .search-wrapper {
  display: none;
}
.search-ms.advanced .search_buttons {
  margin: 0;
}
.search-ms.advanced .search_buttons .reset_button {
  display: none;
}
.search-ms.advanced .open .search_buttons .reset_button {
  display: block;
}
.jm-advanced {
  text-align: center;
}
.jm-advanced p {
  margin: 0;
  text-align: right;
  width: 100%;
  max-width: 705px;
  display: inline-block;
  height: 38px;
  line-height: 38px;
}
.jm-advanced p span {
  cursor: pointer;
  text-decoration: none;
  color: #d9d9d9;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  display: inline-block;
}
.jm-advanced p span:after {
  content: "+";
  margin: 0 3px;
  text-decoration: none;
}
.jm-advanced p span:hover {
  color: #ffffff;
}
.jm-advanced.open p span:after {
  content: "-";
}
.jm-module.margin-ms .jm-advanced {
  margin: -30px 0 0;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .inputbox.first_input,
#jm-allpage .search-ms.category-ms .dj_cf_search form .inputbox.search-query {
  padding-left: 185px;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  border: none !important;
  width: 150px !important;
  position: absolute;
  left: 25px;
  right: auto;
  top: 9px;
  color: #888888;
  z-index: 502;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats > div,
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats label {
  display: none;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats > select {
  color: #888888;
  border: 1px solid #ececec;
  width: 100% !important;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats .chzn-container.chzn-container-single {
  display: inline-block;
  margin: 0;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats .chzn-container.chzn-container-single .chzn-single {
  border: none;
  border-right: 1px solid #ececec;
  font-size: 19px;
  font-weight: 300;
  color: #888888;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#jm-allpage .search-ms.category-ms .dj_cf_search form .search_cats .chzn-container.chzn-container-single .chzn-single div {
  margin: 0;
}
#jm-top-mod1.span7 {
  position: relative;
}
#jm-top-mod1.span7:after {
  position: absolute;
  content: '';
  border-left: 1px dotted #e7e7e7;
  top: 10%;
  height: 80%;
  left: 100%;
}
#jm-top-mod .jm-module {
  position: relative;
  padding: 30px 0 0;
}
#jm-top-mod .jm-module:first-child {
  padding: 0;
}
#jm-top-mod .jm-module-in:after {
  position: absolute;
  content: '';
  border-bottom: 1px dotted #e7e7e7;
  top: 0;
  width: 90%;
  left: 5%;
  right: auto;
}
#jm-top-mod .jm-module:first-child .jm-module-in:after {
  display: none;
}
#jm-top-bar-mod {
  line-height: 50px;
}
#jm-top-bar-mod form {
  margin: 0;
}
#jm-top-bar-mod div.login-greeting,
#jm-top-bar-mod .logout-button {
  display: inline-block;
  padding: 0;
}
#jm-top-bar-mod .logout-button .btn {
  font-size: 12px;
  height: 23px;
  line-height: 23px;
  padding: 0 17px;
  vertical-align: baseline;
  margin-left: 10px !important;
}
.jm-module-raw {
  float: left;
  margin-left: 10px;
}
.jm-module-raw:first-child {
  margin-left: 0;
}
#jm-top-bar .jm-module-raw {
  float: right;
  margin-left: 0;
  margin-right: 10px;
}
#jm-top-bar .jm-module-raw:first-child {
  margin-right: 0;
}
#jm-top .jm-flexiblock .row-fluid:first-child .jm-module.title-border2-ms,
#jm-bottom1 .jm-flexiblock .row-fluid:first-child .jm-module.title-border2-ms,
#jm-bottom2 .jm-flexiblock .row-fluid:first-child .jm-module.title-border2-ms,
#jm-bottom3 .jm-flexiblock .row-fluid:first-child .jm-module.title-border2-ms,
#jm-footer-mod .jm-flexiblock .row-fluid:first-child .jm-module.title-border2-ms {
  margin-top: -30px;
}
#jm-bottom1 .jm-flexiblock .row-fluid {
  border-top: 1px solid #e7e7e7;
  padding-top: 30px;
}
#jm-bottom1 .jm-flexiblock .row-fluid:first-child {
  border: none;
  padding: 0;
}
.jm-icon {
  text-align: center;
  margin: 10px 0 20px;
}
.jm-icon a {
  display: inline-block;
}
.jm-icon a img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.jm-icon a:hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.jm-custom-title {
  font-size: 72px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}
.jm-custom-subtitle {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  line-height: 1.7;
}
.jm-special .td1 {
  float: left;
}
.jm-special .td2 {
  float: left;
  padding: 0 0 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jm-special .title {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.1;
  color: #888888;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.jm-special .title:hover {
  color: #266892;
}
.jm-special .category {
  line-height: 1.1;
  display: block;
  margin: 0 0 20px;
  text-decoration: none;
  color: #888888;
}
.jm-special .category:hover {
  color: #266892;
}
.jm-special .price {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.1;
  color: #372f2b;
  margin: 0 0 15px;
}
.jm-slider-custom .title {
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #372f2b;
  white-space: normal;
  margin: 0;
}
.jm-slider-custom .category {
  display: block;
  color: #555555 !important;
  margin: 0 0 15px;
  text-decoration: none;
  text-align: center !important;
}
.jm-slider-custom .price {
  font-weight: 600;
  font-size: 25px;
  color: #372f2b;
  padding: 25px;
  display: inline-block;
}
.jm-slider-custom .readmore2,
.jm-slider-custom .readmore3 {
  display: inline-block !important;
}
.jm-social {
  text-align: center;
}
.jm-social-title {
  display: inline-block;
  padding: 0 80px 30px;
  position: relative;
  font-size: 44px;
  font-weight: 800;
  line-height: 1em;
}
.jm-social-title:before,
.jm-social-title:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background: #6a6a6a;
  top: 24px;
  max-width: 100%;
}
.jm-bottom .jm-social-title:before,
.jm-footer .jm-social-title:before,
.jm-bottom .jm-social-title:after,
.jm-footer .jm-social-title:after {
  background: #ffffff;
}
.jm-social-title:before {
  left: 0;
}
.jm-social-title:after {
  right: 0;
}
.jm-icons {
  display: inline-block;
  width: 100%;
  margin: 0;
}
.jm-icons a {
  display: inline-block;
  text-decoration: none !important;
  position: relative;
  margin: 5px 20px;
}
.jm-icons a.jm-facebook span.bg,
.jm-icons a.jm-google span.bg,
.jm-icons a.jm-twitter span.bg,
.jm-icons a.jm-pinterest span.bg {
  width: 76px;
  height: 76px;
  display: inline-block;
}
.jm-icons a:hover span.bg {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.jm-icons a.jm-facebook span.bg {
  background: url('../images/social/facebook.png');
}
.jm-icons a.jm-google span.bg {
  background: url('../images/social/googleplus.png');
}
.jm-icons a.jm-twitter span.bg {
  background: url('../images/social/twitter.png');
}
.jm-icons a.jm-pinterest span.bg {
  background: url('../images/social/pinterest.png');
}
.jm-bottom .jm-icons a.jm-facebook span.bg,
.jm-footer .jm-icons a.jm-facebook span.bg {
  background: url('../images/social/facebook-light.png');
}
.jm-bottom .jm-icons a.jm-google span.bg,
.jm-footer .jm-icons a.jm-google span.bg {
  background: url('../images/social/googleplus-light.png');
}
.jm-bottom .jm-icons a.jm-twitter span.bg,
.jm-footer .jm-icons a.jm-twitter span.bg {
  background: url('../images/social/twitter-light.png');
}
.jm-bottom .jm-icons a.jm-pinterest span.bg,
.jm-footer .jm-icons a.jm-pinterest span.bg {
  background: url('../images/social/pinterest-light.png');
}
.jm-icons a span.ttip {
  width: 150px;
  height: auto;
  line-height: 20px;
  padding: 20px 10px;
  left: 50%;
  margin-left: -85px;
  font-weight: 800;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 120px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.jm-icons a span.ttip:before,
.jm-icons a span.ttip:after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -6px;
  width: 0px;
  height: 0px;
  border-style: solid inset;
  border-width: 7px 7px 0 7px;
}
.jm-icons a:hover span.ttip {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 90px;
}
.jm-icons a.jm-facebook span.ttip {
  background: #4e67a9;
}
.jm-icons a.jm-facebook span.ttip:before,
.jm-icons a.jm-facebook span.ttip:after {
  border-color: #4e67a9 transparent transparent transparent;
}
.jm-icons a.jm-twitter span.ttip {
  background: #42c8f4;
}
.jm-icons a.jm-twitter span.ttip:before,
.jm-icons a.jm-twitter span.ttip:after {
  border-color: #42c8f4 transparent transparent transparent;
}
.jm-icons a.jm-google span.ttip {
  background: #dd4c39;
}
.jm-icons a.jm-google span.ttip:before,
.jm-icons a.jm-google span.ttip:after {
  border-color: #dd4c39 transparent transparent transparent;
}
.jm-icons a.jm-pinterest span.ttip {
  background: #cc2129;
}
.jm-icons a.jm-pinterest span.ttip:before,
.jm-icons a.jm-pinterest span.ttip:after {
  border-color: #cc2129 transparent transparent transparent;
}
#jm-allpage .djreviews input[type="radio"],
#jm-allpage .djreviews .djrv_rating_fields .control-group {
  margin: 0;
}
#jm-allpage .djreviews .djrv_single_review {
  margin: 0;
}
.djrv_rating_full h3,
.djrv_reviews_list h3 {
  font-weight: 600;
  color: #372f2b;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
#dj-classifieds .dj-item .djrv_rating_full .djrv_rating,
#dj-classifieds .djcf_after_profile .djrv_rating_full .djrv_rating {
  margin-left: 15px;
}
#dj-classifieds .dj-item .djrv_single_review,
#dj-classifieds .djcf_after_profile .djrv_single_review {
  margin: 0 0 0 30px;
}
#dj-classifieds .dj-item .djrv_single_review [class*='span'],
#dj-classifieds .djcf_after_profile .djrv_single_review [class*='span'] {
  padding: 0;
}
#dj-classifieds .dj-item .djrv_rating_full h3,
#dj-classifieds .djcf_after_profile .djrv_rating_full h3,
#dj-classifieds .dj-item .djrv_reviews_list h3,
#dj-classifieds .djcf_after_profile .djrv_reviews_list h3 {
  border-bottom: 1px dotted #e0e0e0;
  font-size: 16px;
  color: #372f2b;
  font-weight: 600;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 0 0 10px 30px;
  text-transform: none;
}
#dj-classifieds .dj-item .djrv_rating_full h3,
#dj-classifieds .djcf_after_profile .djrv_rating_full h3 {
  background: url("../images/scheme1/desc.png") no-repeat left top;
}
#dj-classifieds .dj-item .djrv_reviews_list h3,
#dj-classifieds .djcf_after_profile .djrv_reviews_list h3 {
  background: url("../images/scheme1/created.png") no-repeat left top;
}
#dj-classifieds .djcf_after_profile {
  margin: 0 0 30px;
}
#dj-classifieds .dj-item .djrv_rating_full {
  margin: 0 0 30px;
}
#jm-allpage .djreviews .djrv_rating .djrv_star {
  background: url('../images/stars.png') repeat-x 0 0;
}
#jm-allpage .djreviews .djrv_rating .djrv_star.active {
  background: url('../images/stars.png') repeat-x 0 -24px;
}
#jm-allpage .djreviews .djrv_rating.xsmall .djrv_star.active {
  background: url('../images/stars.png') repeat-x 0 -12px;
}
#jm-allpage .djreviews .djrv_rating.small .djrv_star.active {
  background: url('../images/stars.png') repeat-x 0 -16px;
}
#jm-allpage .djreviews .djrv_rating.medium .djrv_star.active {
  background: url('../images/stars.png') repeat-x 0 -20px;
}
#jm-allpage .djreviews form.djrv_review_form .djrv_rating_fields .djrv_field_rating {
  background: url('../images/stars.png') repeat-x 0 0;
}
#jm-allpage .djreviews form.djrv_review_form .djrv_rating_fields .djrv_field_rating input:checked + label,
#jm-allpage .djreviews form.djrv_review_form .djrv_rating_fields .djrv_field_rating:hover input:checked:hover + label {
  background: url('../images/stars.png') repeat-x 0 -24px;
}
#jm-allpage .djreviews form.djrv_review_form .djrv_rating_fields .djrv_field_rating:hover input:hover + label {
  background: url('../images/stars.png') repeat-x 0 -48px;
}
.djrv_modal-header .djrv_close_form_button {
  font-size: 12px;
  padding: 5px 10px;
}
.nav.menu {
  margin: 0;
}
.nav.menu li {
  margin: 0;
  padding: 0;
  background-image: none !important;
}
.nav.menu > li {
  border-top: 1px solid #ececec;
}
.nav.menu > li:first-child {
  border-top: none;
}
.nav.menu > li:first-child > a {
  padding-top: 0;
}
.nav.menu > li.parent {
  position: relative;
  padding-right: 20px;
}
.nav.menu > li.parent:after {
  content: '';
  position: absolute;
  top: 17px;
  right: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4.5px 0 4.5px 5px;
  border-color: transparent transparent transparent #266892;
}
.nav.menu > li.parent.deeper:after {
  border-width: 5px 4.5px 0 4.5px;
  border-color: #266892 transparent transparent transparent;
}
.nav.menu ul {
  padding: 0 0 0 20px;
  margin: 0;
}
.nav.menu > li > ul {
  padding-bottom: 5px;
}
.nav.menu li a,
.nav.menu li span.separator {
  background: none;
  color: #372f2b;
  padding: 10px 0;
  display: block;
  text-decoration: none;
}
.nav.menu li:hover > a,
.nav.menu li.active > a {
  color: #266892;
}
.nav.menu > li:first-child.parent:after {
  top: 7px;
}
.nav.menu ul li a {
  padding: 4px 0;
}
#jm-allpage .jm-module.white-ms .nav.menu li a,
#jm-allpage .jm-module.white-ms .nav.menu li span.separator {
  color: #372f2b;
}
#jm-allpage .jm-module.white-ms .nav.menu li:hover > a,
#jm-allpage .jm-module.white-ms .nav.menu li.active > a {
  color: #266892;
}
#jm-allpage .jm-module.white-ms .nav.menu > li {
  border-color: #ececec;
}
#jm-allpage .jm-module.white-ms .nav.menu > li.parent:after {
  border-color: transparent transparent transparent #266892;
}
#jm-allpage .jm-module.white-ms .nav.menu > li.parent.deeper:after {
  border-color: #266892 transparent transparent transparent;
}
#jm-header .nav.menu li a,
#jm-header .nav.menu li span.separator {
  color: #ffffff;
}
#jm-header .nav.menu li:hover > a,
#jm-header .nav.menu li.active > a {
  color: #266892;
}
#jm-header .nav.menu > li {
  border-color: #6d6d6d;
}
#jm-top-mod .nav.menu li a,
#jm-bottom1 .nav.menu li a,
#jm-top-mod .nav.menu li span.separator,
#jm-bottom1 .nav.menu li span.separator {
  color: #372f2b;
}
#jm-top-mod .nav.menu li:hover > a,
#jm-bottom1 .nav.menu li:hover > a,
#jm-top-mod .nav.menu li.active > a,
#jm-bottom1 .nav.menu li.active > a {
  color: #266892;
}
#jm-top-mod .nav.menu > li,
#jm-bottom1 .nav.menu > li {
  border-color: #e7e7e7;
}
#jm-bottom3 .nav.menu li a,
#jm-bottom3 .nav.menu li span.separator {
  color: #ffffff;
}
#jm-bottom3 .nav.menu li:hover > a,
#jm-bottom3 .nav.menu li.active > a {
  color: #3993cb;
}
#jm-bottom3 .nav.menu > li {
  border-color: #215a7e;
}
#jm-bottom3 .nav.menu > li.parent:after {
  border-color: transparent transparent transparent #215a7e;
}
#jm-bottom3 .nav.menu > li.parent.deeper:after {
  border-color: #215a7e transparent transparent transparent;
}
#jm-footer-mod .nav.menu li a,
#jm-footer-mod .nav.menu li span.separator {
  color: #ffffff;
}
#jm-footer-mod .nav.menu li:hover > a,
#jm-footer-mod .nav.menu li.active > a {
  color: #ffffff;
}
#jm-footer-mod .nav.menu > li {
  border-color: #b02301;
}
#jm-allpage .dj-megamenu .nav.menu li a,
#jm-allpage .dj-megamenu .nav.menu li span.separator {
  color: #372f2b;
}
#jm-allpage .dj-megamenu .nav.menu li:hover > a,
#jm-allpage .dj-megamenu .nav.menu li.active > a {
  color: #266892;
}
#jm-allpage .dj-megamenu .nav.menu > li {
  border-color: #c9c9c9;
}
.jm-offcanvas .nav.menu li a,
.jm-offcanvas .nav.menu li span.separator {
  color: #ffffff;
}
.jm-offcanvas .nav.menu li:hover > a,
.jm-offcanvas .nav.menu li.active > a {
  color: #266892;
}
.jm-offcanvas .nav.menu > li {
  border-color: #4d4d4d;
}
#jm-top-bar-mod .nav.menu li {
  display: inline-block;
  border: none;
  background: none;
  line-height: 50px;
  padding: 0;
}
#jm-top-bar-mod .nav.menu li:after {
  display: none;
}
#jm-top-bar-mod .nav.menu li a,
#jm-top-bar-mod .nav.menu li span.separator {
  padding: 0 20px;
  color: #8b847f;
  font-size: 13px;
  font-weight: 600;
  border-left: 1px solid #69635f;
  background: #494542;
  position: relative;
  z-index: 502;
}
#jm-top-bar-mod .nav.menu li:hover > a,
#jm-top-bar-mod .nav.menu li.active > a {
  color: #ffffff;
  background: #544f4c;
}
#jm-top-bar-mod .nav.menu > li a.color {
  color: #ffffff;
  border-color: transparent;
  background: #266892;
}
#jm-top-bar-mod .nav.menu > li:hover a.color {
  background: #1b4b6a;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
#jm-top-bar-mod .nav.menu li ul {
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  display: none;
  visibility: hidden;
  background: #222222;
  text-align: left;
  border: 1px solid #69635f;
}
#jm-top-bar-mod .nav.menu li ul li {
  width: 150px;
  display: block;
  position: relative;
}
#jm-top-bar-mod .nav.menu li ul li a,
#jm-top-bar-mod .nav.menu li ul li span.separator {
  border-left: none;
  border-right: none;
}
#jm-top-bar-mod .nav.menu li ul li + li {
  border-top: 1px solid #69635f;
}
#jm-top-bar-mod .nav.menu li:hover > ul {
  display: block;
  visibility: visible;
  z-index: 501;
  -webkit-animation: fadeInDown 0.4s ease;
  -moz-animation: fadeInDown 0.4s ease;
  -ms-animation: fadeInDown 0.4s ease;
  -o-animation: fadeInDown 0.4s ease;
  animation: fadeInDown 0.4s ease;
}
#jm-top-bar-mod .nav.menu li:hover > ul > li > ul {
  top: -1px;
}
#jm-top-bar-mod .nav.menu li li ul {
  top: 0;
  left: 100%;
  right: auto;
}
.tagspopular ul,
.tagssimilar ul,
.nav.menu.tags-ms,
.tags-ms .nav.menu {
  margin: 0;
  padding: 0;
  text-align: center;
}
.tagspopular ul > li,
.tagssimilar ul > li,
.nav.menu.tags-ms > li,
.tags-ms .nav.menu > li {
  display: inline-block;
  border: none;
  background: none;
  margin: 0 10px 10px 0;
  padding: 0;
}
.tagspopular ul > li:after,
.tagssimilar ul > li:after,
.nav.menu.tags-ms > li:after,
.tags-ms .nav.menu > li:after {
  display: none;
}
.tagspopular ul > li a,
.tagssimilar ul > li a,
.nav.menu.tags-ms > li a,
.tags-ms .nav.menu > li a,
.tagspopular ul > li span.separator,
.tagssimilar ul > li span.separator,
.nav.menu.tags-ms > li span.separator,
.tags-ms .nav.menu > li span.separator {
  color: #494542;
  padding: 3px 18px!important;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tagspopular ul > li:hover a,
.tagssimilar ul > li:hover a,
.nav.menu.tags-ms > li:hover a,
.tags-ms .nav.menu > li:hover a,
.tagspopular ul > li.active a,
.tagssimilar ul > li.active a,
.nav.menu.tags-ms > li.active a,
.tags-ms .nav.menu > li.active a {
  color: #266892 !important;
  border: 1px solid #cecece;
}
.tagspopular ul > li:hover a:hover,
.tagssimilar ul > li:hover a:hover,
.nav.menu.tags-ms > li:hover a:hover,
.tags-ms .nav.menu > li:hover a:hover,
.tagspopular ul > li.active a:hover,
.tagssimilar ul > li.active a:hover,
.nav.menu.tags-ms > li.active a:hover,
.tags-ms .nav.menu > li.active a:hover {
  color: #266892 !important;
}
.tagspopular ul ul,
.tagssimilar ul ul,
.nav.menu.tags-ms ul,
.tags-ms .nav.menu ul {
  display: none;
}
.tagspopular ul > li,
.tagssimilar ul > li {
  margin: 0 6px 10px 0;
}
.tagspopular ul > li a,
.tagssimilar ul > li a,
.tagspopular ul > li span.separator,
.tagssimilar ul > li span.separator {
  padding: 6px 18px;
}
#jm-allpage .tags-ms > span {
  display: inline-block;
  margin: 0 1px 10px 0;
}
#jm-allpage .tags-ms > span a {
  color: #494542;
  padding: 3px 18px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  text-decoration: none;
  line-height: 1.7;
}
#jm-allpage .tags-ms > span:hover a {
  color: #266892;
  border: 1px solid #cecece;
}
#jmthemeform .jmtheme-set-inside .control-group select,
#jmthemeform .jmtheme-set-inside .control-group input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb > li {
  background: none;
  padding: 0;
}
.breadcrumb > li > .divider img {
  margin-bottom: 2px;
}
.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tags {
  padding: 5px 0;
  margin: 30px 0;
}
.tags span .label {
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 7px 10px;
  font-size: 11px;
  line-height: 1.2;
}
.label-info[href],
.badge-info[href],
.label-info,
.badge-info {
  color: #ffffff !important;
  background: #266892;
  text-decoration: none;
}
.label-info[href]:hover,
.badge-info[href]:hover,
.label-info:hover,
.badge-info:hover {
  background: #3185ba;
}
.media-list > li {
  background: none;
  padding: 0;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  padding: 0 2px;
}
.thumbnails > li {
  background: none;
  padding: 0;
}
.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ececec;
}
.chzn-container li {
  background: none;
}
.chzn-container-multi .chzn-choices li.search-field input[type="text"] {
  height: 25px !important;
}
#jm-allpage .chzn-container-single .chzn-single,
#jm-allpage .chzn-container-multi .chzn-choices {
  line-height: 38px;
  height: 38px;
  font-size: 13px;
  padding: 0 8px;
  vertical-align: middle;
  border: 1px solid #ececec;
  color: #666666;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 1px 1px 0px #ececec;
  -moz-box-shadow: inset 0px 1px 1px 0px #ececec;
  box-shadow: inset 0px 1px 1px 0px #ececec;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#jm-allpage .chzn-container-single .chzn-single div {
  left: auto;
  right: 8px;
  width: 15px;
}
#jm-allpage .chzn-container .chzn-drop {
  border: 1px solid #ececec;
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#jm-allpage .chzn-container-multi .chzn-choices .search-field input.default {
  font-family: inherit;
  color: #666666;
  padding: 0;
  margin: 0;
  height: 38px;
}
#jm-allpage .chzn-container-single .chzn-single div b {
  margin-top: 6px;
}
#jm-allpage .chzn-container-multi .chzn-choices .search-choice {
  line-height: 24px;
  border: 1px solid #ececec;
  background: #ffffff;
}
#jm-allpage .chzn-container-multi .chzn-choices .search-choice span {
  font-size: 14px;
}
#jm-allpage .chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  top: 10px;
}
#jm-allpage .chzn-choices li,
#jm-allpage .chzn-results li {
  background-image: none !important;
}
#jm-allpage .chzn-container .chzn-results {
  padding-top: 4px;
}
h1.componentheading,
.tag-category > h1,
.page-header > h1,
.content-category > h1,
.categories-list > h1,
.blog-featured > h1,
.contact-category > h1,
.contact > h1,
.newsfeed-category > h1,
h1.page-title,
.finder > h1,
.weblink-category > h1,
.edit > h1,
.blog > h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #372f2b;
  font-weight: 600;
  margin: 0 0 30px;
  padding: 0 0 30px;
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h1.componentheading:after,
.tag-category > h1:after,
.page-header > h1:after,
.content-category > h1:after,
.categories-list > h1:after,
.blog-featured > h1:after,
.contact-category > h1:after,
.contact > h1:after,
.newsfeed-category > h1:after,
h1.page-title:after,
.finder > h1:after,
.weblink-category > h1:after,
.edit > h1:after,
.blog > h2:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100px;
  background: #c8ccce;
  bottom: 0;
  left: 0;
  right: auto;
}
h2.item-title,
.page-header > h2,
.content-category > h2,
.cat-children > h3,
.contact-category > h2,
.weblink-category > h2,
.newsfeed > h2,
.newsfeed-category > h2,
.weblink-category > h2,
.contact > h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #372f2b;
  display: block;
  margin: 0 0 20px;
  text-transform: uppercase;
}
h2.item-title a,
.page-header > h2 a,
.content-category > h2 a,
.cat-children > h3 a,
.contact-category > h2 a,
.weblink-category > h2 a,
.newsfeed > h2 a,
.newsfeed-category > h2 a,
.weblink-category > h2 a,
.contact > h3 a {
  color: #372f2b;
  text-decoration: none;
}
h2.item-title a:hover,
.page-header > h2 a:hover,
.content-category > h2 a:hover,
.cat-children > h3 a:hover,
.contact-category > h2 a:hover,
.weblink-category > h2 a:hover,
.newsfeed > h2 a:hover,
.newsfeed-category > h2 a:hover,
.weblink-category > h2 a:hover,
.contact > h3 a:hover {
  color: #266892;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
h3.page-header {
  font-size: 1em;
  line-height: 1.7;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
h3.page-header > .btn-mini {
  padding: 3px 6px;
}
h3.page-header > .btn-mini [class^="icon-"],
h3.page-header > .btn-mini [class*=" icon-"] {
  margin-top: 0;
}
h3.page-header > .badge {
  margin: 0 5px;
  vertical-align: middle;
}
.page-header + .icons .btn.dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.element-invisible {
  display: none !important;
}
dl.article-info {
  font-size: 12px;
  color: #5a5a5a;
  margin: 0 0 20px;
}
dl.article-info dd {
  margin: 0;
}
dl.article-info ~ dl.article-info {
  margin: 0;
}
.article-info-term {
  display: none;
}
.content_rating {
  margin-bottom: 10px;
}
.content_vote label {
  margin-right: 5px;
}
.categories-list .collapse {
  padding: 0 0 0 30px;
}
.categories-list div > .category-desc {
  margin-bottom: 30px;
}
.items-leading div[class*="leading-"],
.items-row .item {
  *zoom: 1;
}
.items-leading div[class*="leading-"]:before,
.items-row .item:before,
.items-leading div[class*="leading-"]:after,
.items-row .item:after {
  display: table;
  content: "";
  line-height: 0;
}
.items-leading div[class*="leading-"]:after,
.items-row .item:after {
  clear: both;
}
.items-leading div[class*="leading-"],
.items-row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #ececec;
}
.items-leading .leading:last-child,
.items-row:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.items-more,
.content-links {
  margin: 0 0 30px;
}
.item-image {
  margin-bottom: 30px;
  max-width: 100%;
}
figure.pull-left,
figure.pull-right,
figure.pull-center {
  max-width: 100%;
  margin: 0 0 30px;
}
.pull-none.item-image {
  text-align: center;
}
.pull-left.item-image,
figure.pull-left {
  margin-right: 30px;
}
.pull-right.item-image,
figure.pull-right {
  margin-left: 30px;
}
.pull-center {
  text-align: center;
}
.category-desc {
  margin: 0 0 30px;
}
div.img_caption {
  margin: 0 auto;
}
p.img_caption {
  text-align: center;
  background: #eeeeee;
  padding: 5px;
  margin: 0;
}
.readmore {
  font-size: 14px;
  line-height: 1.1;
  color: #266892 !important;
  display: inline-block;
  margin: 10px 0 0;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.readmore::before,
.readmore::after {
  font-size: 16px;
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.readmore::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.readmore::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
.readmore:hover {
  color: #266892 !important;
}
.readmore:hover::before,
.readmore:hover::after,
.readmore:focus::before,
.readmore:focus::after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.readmore > a.btn {
  vertical-align: baseline;
  color: #266892 !important;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.readmore > a.btn .icon-chevron-right {
  display: none;
}
.blog p.readmore {
  display: block;
  text-align: right;
}
.mod-articles-category-readmore a {
  font-size: 14px;
  line-height: 1.1;
  color: #266892 !important;
  display: inline-block;
  margin: 10px 0 0;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mod-articles-category-readmore a::before,
.mod-articles-category-readmore a::after {
  font-size: 16px;
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.mod-articles-category-readmore a::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.mod-articles-category-readmore a::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
.mod-articles-category-readmore a:hover {
  color: #266892 !important;
}
.mod-articles-category-readmore a:hover::before,
.mod-articles-category-readmore a:hover::after,
.mod-articles-category-readmore a:focus::before,
.mod-articles-category-readmore a:focus::after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.mod-articles-category-readmore a > a.btn {
  vertical-align: baseline;
  color: #266892 !important;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mod-articles-category-readmore a > a.btn .icon-chevron-right {
  display: none;
}
.jm-bottom p.readmore a,
.jm-bottom a.readmore,
.jm-bottom .mod-articles-category-readmore a {
  color: #ffffff !important;
}
.jm-bottom p.readmore a:hover,
.jm-bottom a.readmore:hover,
.jm-bottom .mod-articles-category-readmore a:hover {
  color: #3993cb !important;
}
#jm-allpage .readmore2,
#jm-allpage .readmore3 {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  padding: 9px 20px;
  line-height: 1.1em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 140px;
  max-width: 100%;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#jm-allpage .readmore2:hover,
#jm-allpage .jm-module.white-ms .readmore2:hover,
#jm-allpage .jm-bottom .readmore2:hover,
#jm-allpage .readmore3:hover {
  color: #ffffff !important;
  border: 1px solid transparent;
  text-decoration: none;
}
#jm-allpage .readmore3 {
  border: 1px solid #e0e0e0;
  color: #888888 !important;
}
#jm-allpage .readmore3:hover {
  background: #888888;
}
#jm-allpage .readmore2,
#jm-allpage .jm-module.white-ms .readmore2 {
  border: 1px solid #266892;
  color: #266892 !important;
}
#jm-allpage .readmore2:hover,
#jm-allpage .jm-module.white-ms .readmore2:hover {
  background: #266892;
}
#jm-allpage .jm-bottom .readmore2 {
  border: 1px solid #3993cb;
  color: #3993cb !important;
}
#jm-allpage .jm-bottom .readmore2:hover {
  background: #3993cb;
}
p.readmore a.btn .icon-chevron-right {
  display: none;
}
.archive .filters {
  margin-bottom: 30px;
}
.categories-list ul li h4 {
  font-size: 1em;
  line-height: 1.7;
  font-weight: bold;
}
.categories-list ul li small.category-desc {
  font-size: 1em;
  line-height: 1.7;
}
ul.list-striped li {
  background: none;
  border-bottom: 1px solid #ececec;
  padding: 10px;
}
.weblink-count {
  display: inline-block;
  width: 100%;
}
.weblink-count dt,
.weblink-count dd {
  float: left;
}
.newsfeed > ol > li > h3 {
  font-size: 1em;
}
strong.red,
span.star {
  color: #ff0000;
}
.profile ul.btn-toolbar li {
  background: none;
  padding: 0;
}
.profile .btn-toolbar + fieldset {
  clear: both;
}
.contact .contact-form input[type="text"],
.contact .contact-form input[type="email"],
.contact .contact-form textarea {
  width: 100%;
  max-width: 400px;
}
.contact dl.contact-address {
  margin: 30px 0;
}
.contact .thumbnail {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.phrases-box,
fieldset.only {
  padding: 0 0 20px;
}
.phrases-box label,
fieldset.only label {
  display: inline-block;
  margin-right: 10px;
}
fieldset.phrases {
  padding-bottom: 20px;
}
.tag-category .category > li > h3 {
  font-size: 1em;
  margin: 0;
}
.tag-category .form-inline label {
  vertical-align: middle;
  margin-right: 10px;
}
.tag-category > h2 {
  margin-bottom: 30px;
}
.tag-category form > ul > li > h3 {
  margin-bottom: 30px;
}
.tag-category form > ul > li {
  padding: 0;
  background: none !important;
}
.tag-category .tag-body {
  margin: 30px 0;
  display: block;
}
.tag-category .thumbnails > li,
.tag-category .category > li {
  background: none;
  padding: 0;
}
.tag-category .thumbnails > li h3 {
  font-size: 1em;
}
.tip-wrap .tip {
  max-width: 300px;
  padding: 3px 8px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  background-color: #ebebeb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: normal;
  z-index: 9999;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tip-wrap .tip-top {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #ebebeb;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tip-wrap .tip-title {
  font-weight: bold;
}
.jmodedit {
  z-index: 9999;
}
.article-index {
  margin-left: 30px;
}
.article-index + .pagenavcounter {
  margin-bottom: 10px;
}
.article-index .nav {
  min-width: 150px;
}
.jm-alert {
  display: block;
}
#templates-form .form-horizontal .control-label {
  float: none;
  width: auto;
  text-align: inherit;
}
#templates-form .form-horizontal .controls {
  margin-left: 0;
  margin-right: 0;
}
#jm-allpage .minicolors-theme-bootstrap .minicolors-input {
  line-height: 1.5;
  height: auto;
  width: auto;
}
.newsflash .newsflash-title {
  font-size: 1em;
  margin: 10px 0 5px;
  clear: both;
}
.newsflash .newsflash-title:first-child {
  margin: 0 0 5px;
}
.archive-module > li {
  margin: 10px 0;
}
.archive-module > li:first-child {
  margin-top: 0;
}
.categories-module li h1,
.categories-module li h2,
.categories-module li h3,
.categories-module li h4,
.categories-module li h5,
.categories-module li h6 {
  font-size: 1em;
  line-height: 1.7;
  font-weight: normal;
  margin: 0;
}
.category-module li h1,
.category-module li h2,
.category-module li h3,
.category-module li h4,
.category-module li h5,
.category-module li h6 {
  font-size: 1em;
  line-height: 1.7;
  font-weight: normal;
  margin: 0;
}
.category-module li span {
  display: block;
}
#form-login-username label.element-invisible,
#form-login-password label.element-invisible {
  display: none;
}
#login-form ul li .icon-arrow-right {
  display: none;
}
#mod-finder-searchform {
  margin: 0;
}
#mod-finder-searchform a {
  display: block;
  margin-top: 5px;
}
.form-search label.finder {
  padding: 0 10px 0 0;
}
.feed h2 ~ ul.newsfeed {
  margin-top: 10px;
}
.weblinks li {
  margin-top: 5px;
}
.weblinks li:first-child {
  margin: 0;
}
.weblinks li p {
  margin: 0;
}
.search input#mod-search-searchword {
  width: auto;
}
.mod-languages ul {
  list-style: none;
}
.mod-languages ul li {
  background: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
#system-message .alert {
  margin-bottom: 30px;
}
#system-message .alert a {
  text-decoration: none;
}
.jm-error-page {
  text-align: center;
}
.jm-error-page > h1 {
  color: #5a5a5a;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
}
.jm-error-page > h2 {
  color: #5a5a5a;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 60px;
}
.jm-error-page > p {
  margin: 0 0 60px;
}
.jm-error-page input.inputbox {
  max-width: 260px;
}
.jm-error-page .moduletable {
  margin: 0 0 60px;
}
h3.jm-typo-title {
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  margin: 30px 0;
}
h3.jm-typo-title ~ pre,
h3.jm-typo-title ~ div pre {
  margin-bottom: 30px;
  font-size: 13px;
}
.jm-code {
  border-left: 5px solid #ececec;
  padding: 10px;
  background: #e7e6e6;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.jm-block {
  margin: 10px 0;
  padding: 0 0 0 60px;
  position: relative;
  min-height: 40px;
}
.jm-block span {
  background: #999999;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 18px;
  color: #ffffff;
}
.jm-block.second span {
  background-color: #555555;
}
.quote-left {
  display: block;
  font-style: italic;
  padding: 5px 5px 5px 45px;
  background: url("../images/quote-left.png") no-repeat left top;
  text-align: left;
}
.quote-right {
  display: block;
  font-style: italic;
  padding: 5px 45px 5px 5px;
  background: url("../images/quote-right.png") no-repeat right bottom;
  text-align: right;
}
.border_img1 {
  padding: 4px;
  background: #ffffff;
}
.border_img2 {
  background: #F2F2F2;
  border: 1px solid #E5E5E5;
  padding: 5px;
}
.border_img3 {
  border: 1px solid #DFDFDF;
  padding: 1px;
  background: #ffffff;
}
p.blue {
  border-left: 3px solid #BCE8F1;
  padding: 0 0 0 10px;
}
p.green {
  border-left: 3px solid #D6E9C6;
  padding: 0 0 0 10px;
}
p.red {
  border-left: 3px solid #EED3D7;
  padding: 0 0 0 10px;
  color: inherit;
}
p.bluefill {
  background: #D9EDF7;
  border: 1px solid #BCE8F1;
  display: block;
  padding: 10px;
  text-align: justify;
  color: #3A87AD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
p.greenfill {
  background: #DFF0D8;
  border: 1px solid #D6E9C6;
  display: block;
  padding: 10px;
  text-align: justify;
  color: #468847;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
p.redfill {
  background: #F2DEDE;
  border: 1px solid #EED3D7;
  display: block;
  padding: 10px;
  text-align: justify;
  color: #B94A48;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
p.jmbadge,
span.jmbadge,
p.jmcalendar,
span.jmcalendar,
p.jmchat,
span.jmchat,
p.jmcheck,
span.jmcheck,
p.jmcloud,
span.jmcloud,
p.jmdirection,
span.jmdirection,
p.jmdivide,
span.jmdivide,
p.jmerror,
span.jmerror,
p.jmfire,
span.jmfire,
p.jmflag,
span.jmflag,
p.jmheart,
span.jmheart,
p.jmhome,
span.jmhome,
p.jminfo,
span.jminfo,
p.jmlist,
span.jmlist,
p.jmmail,
span.jmmail,
p.jmpeople,
span.jmpeople,
p.jmstar,
span.jmstar,
p.jmstat,
span.jmstat {
  display: block;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 40px;
  margin: 5px 0 15px;
}
p.jmbadge,
span.jmbadge {
  background-image: url("../images/icons/badge.png");
}
p.jmcalendar,
span.jmcalendar {
  background-image: url("../images/icons/calendar.png");
}
p.jmchat,
span.jmchat {
  background-image: url("../images/icons/chat.png");
}
p.jmcheck,
span.jmcheck {
  background-image: url("../images/icons/check.png");
}
p.jmcloud,
span.jmcloud {
  background-image: url("../images/icons/cloud.png");
}
p.jmdirection,
span.jmdirection {
  background-image: url("../images/icons/direction.png");
}
p.jmdivide,
span.jmdivide {
  background-image: url("../images/icons/divide.png");
}
p.jmerror,
span.jmerror {
  background-image: url("../images/icons/error.png");
}
p.jmfire,
span.jmfire {
  background-image: url("../images/icons/fire.png");
}
p.jmflag,
span.jmflag {
  background-image: url("../images/icons/flag.png");
}
p.jmheart,
span.jmheart {
  background-image: url("../images/icons/heart.png");
}
p.jmhome,
span.jmhome {
  background-image: url("../images/icons/home.png");
}
p.jminfo,
span.jminfo {
  background-image: url("../images/icons/info.png");
}
p.jmlist,
span.jmlist {
  background-image: url("../images/icons/list.png");
}
p.jmmail,
span.jmmail {
  background-image: url("../images/icons/mail.png");
}
p.jmpeople,
span.jmpeople {
  background-image: url("../images/icons/people.png");
}
p.jmstar,
span.jmstar {
  background-image: url("../images/icons/star.png");
}
p.jmstat,
span.jmstat {
  background-image: url("../images/icons/stat.png");
}
ol.jm-roman,
ol.jm-roman ol {
  list-style-type: upper-roman;
}
ol.jm-alpha,
ol.jm-alpha ol {
  list-style-type: lower-alpha;
}
.ch-item.ch-first .ch-info,
.ch-item.ch-second .ch-info .ch-info-back,
.ch-item.ch-third .ch-info .ch-info-back {
  background: #266892;
}
.view {
  cursor: default;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.view .mask,
.view .content {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.view .mask span.space {
  height: 50%;
  display: block;
}
.view .readmore {
  display: table;
  margin: -10px auto 0;
  -webkit-backface-visibility: hidden;
}
.view-video {
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.view-video:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  z-index: 2;
}
.view-video:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background: url('../images/video-play.png') no-repeat;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}
.view-video:hover:after {
  opacity: 0;
  filter: alpha(opacity=0);
}
.view-video img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  position: relative;
  display: inline-block;
}
.view-video .mask {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 10;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
}
.view-video:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: rotate(720deg) scale(0);
  -moz-transform: rotate(720deg) scale(0);
  -o-transform: rotate(720deg) scale(0);
  -ms-transform: rotate(720deg) scale(0);
  transform: rotate(720deg) scale(0);
}
.view-video:hover .mask {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0px) rotate(0deg);
  -moz-transform: translateY(0px) rotate(0deg);
  -o-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
  transition-delay: 0.4s;
}
.view .mask {
  background: #eee;
}
.ch-item.ch-first {
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
}
.ch-item.ch-third .ch-info-front {
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset;
}
.ch-item {
  position: relative;
  width: 154px;
  height: 154px;
}
x:-o-prefocus,
.ch-item {
  border: none;
}
.ch-item .ch-info .ch-container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
.ch-item .ch-info .ch-outer {
  display: table-cell;
  vertical-align: middle;
}
.ch-item .ch-info p {
  padding: 20px 5px 0;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px !important;
  line-height: 30px;
  background: url("../images/badge_sep.png") no-repeat top center;
}
.ch-item .ch-info p a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.ch-item .ch-info p a:hover {
  text-decoration: underline;
}
.ch-item .ch-info p span.smaller {
  font-size: 16px !important;
  line-height: 22px;
  font-weight: normal;
}
.ch-item.ch-first {
  position: relative;
  cursor: default;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ch-item.ch-first .ch-info {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
.ch-item.ch-first:hover .ch-info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ch-item.ch-second {
  position: relative;
  cursor: default;
  overflow: hidden;
}
.ch-item.ch-second .ch-info-wrap {
  position: absolute;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}
.ch-item.ch-second .ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-item.ch-second .ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ch-item.ch-second .ch-info .ch-info-back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
.ch-item.ch-second:hover .ch-info {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
x:-o-prefocus,
.ch-item.ch-second .ch-info .ch-info-back {
  display: none;
}
x:-o-prefocus,
.ch-item.ch-second:hover .ch-info .ch-info-back {
  display: block;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ch-item.ch-second:hover .ch-info {
    -ms-transform: none;
    transform: none;
  }
  .ch-item.ch-second .ch-info .ch-info-back {
    display: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .ch-item.ch-second:hover .ch-info .ch-info-back {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.ch-item.ch-third {
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-item.ch-third .ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-item.ch-third .ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ch-item.ch-third .ch-info .ch-info-back {
  -webkit-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -moz-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -o-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -ms-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.ch-item.ch-third:hover .ch-info-front {
  -webkit-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  -moz-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  -o-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  -ms-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.ch-item.ch-third:hover .ch-info-back {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  -ms-transform: rotate3d(1, 0, 0, 0deg);
  -o-transform: rotate3d(1, 0, 0, 0deg);
  transform: rotate3d(1, 0, 0, 0deg);
  opacity: 1;
  filter: alpha(opacity=100);
}
.dj-galleryGrid,
.dj-categories,
.dj-tabber,
.slider-wrapper,
.dj-slideshowThumbs {
  margin: 0 !important;
  background: transparent !important;
}
.dj-slideshow-in,
.dj-slideshowThumbs-in,
.dj-slideshowThumbs .dj-indicators,
.dj-tabber,
.nivoSlider,
.box_skitter,
.dj-tab {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.dj-slideshow,
.djslider-loader,
.dj-slideshowThumbs {
  margin: 0 auto !important;
}
.djslider-loader .load-button,
.dj-slideshow .dj-load-button,
.dj-mslider .dj-load-button {
  border: none !important;
  background: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  box-shadow: none !important;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.dj-load-button .dj-key {
  font-weight: normal !important;
  line-height: 30px !important;
  color: #ffffff !important;
}
.dj-cat-title {
  color: #372f2b;
  margin: 0 0 20px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}
.category-desc {
  margin: 10px 0 0;
}
.dj-slide-desc-bg {
  background: #ffffff !important;
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}
.dj-slide-desc-text {
  font-size: 13px !important;
  padding: 15px !important;
  color: #6a6a6a !important;
}
.dj-slide-desc-text a {
  color: #6a6a6a !important;
}
.dj-slide-desc-text a:hover {
  color: #266892 !important;
  text-decoration: underline;
}
.dj-slide-title {
  font-size: 19px !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
  color: #372f2b !important;
  text-transform: uppercase;
}
.dj-slide-title a {
  text-decoration: none !important;
  color: #372f2b !important;
}
.dj-slide-title a:hover {
  color: #266892 !important;
}
.dj-slide-title + .dj-slide-description {
  margin: 5px 0 0;
}
#jm-allpage .dj-extra {
  float: none !important;
  margin: 0 0 5px!important;
}
#jm-allpage .dj-extra > div {
  margin: 0 0 3px;
}
#jm-allpage .dj-extra .price {
  font-size: 17px;
  font-weight: 600;
  color: #372f2b;
}
#jm-allpage .dj-extra .category {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
}
#jm-allpage .dj-extra .date {
  font-size: 13px;
  line-height: 1.2;
  color: #372f2b;
  font-weight: 600;
}
#jm-allpage .dj-extra a {
  text-decoration: none;
}
.dj-readmore-wrapper {
  text-align: right !important;
  padding: 0 !important;
  margin: 10px 0 0 !important;
}
.dj-readmore-wrapper a {
  font-size: 14px;
  line-height: 1.1;
  color: #266892 !important;
  display: inline-block;
  margin: 10px 0 0;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dj-readmore-wrapper a::before,
.dj-readmore-wrapper a::after {
  font-size: 16px;
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.dj-readmore-wrapper a::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.dj-readmore-wrapper a::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
.dj-readmore-wrapper a:hover {
  color: #266892 !important;
}
.dj-readmore-wrapper a:hover::before,
.dj-readmore-wrapper a:hover::after,
.dj-readmore-wrapper a:focus::before,
.dj-readmore-wrapper a:focus::after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.dj-readmore-wrapper a > a.btn {
  vertical-align: baseline;
  color: #266892 !important;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dj-readmore-wrapper a > a.btn .icon-chevron-right {
  display: none;
}
#djmediatools .dj-categories {
  display: inline-block;
}
#djmediatools .dj-categories .dj-ctitle-bg {
  background: #ffffff;
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}
#djmediatools .dj-categories .dj-category-in {
  background: none;
  border: none;
}
#djmediatools .dj-categories a.dj-category,
#djmediatools .dj-categories a.dj-category:hover {
  color: #372f2b;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  padding: 0;
  margin: 0;
}
#djmediatools .dj-categories .dj-ctitle-in {
  padding: 20px !important;
  text-align: center;
  font-size: 19px !important;
  color: #372f2b !important;
  text-transform: uppercase;
}
#djmediatools .dj-categories .dj-ctitle-in:hover {
  color: #266892 !important;
}
.dj-galleryGrid .dj-slide {
  max-width: 100%;
}
#jm-allpage .dj-galleryGrid .dj-slide-desc-in {
  margin: 0 !important;
}
.dj-galleryGrid .dj-slide-title {
  margin-bottom: 10px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}
.dj-mslider {
  margin: 0 !important;
}
.dj-mslider .dj-indicators-in {
  padding: 0 !important;
  line-height: 1;
}
.dj-mslider .dj-load-button {
  vertical-align: top;
  background: #c8ccce !important;
  height: 8px !important;
  width: 8px !important;
  margin: 2px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.dj-mslider .dj-load-button.dj-load-button-active {
  border: 2px solid #c8ccce !important;
  background: transparent !important;
  margin: 0 !important;
}
.djslider-loader .load-button {
  background: #c8ccce !important;
  height: 8px !important;
  width: 8px !important;
  margin: 2px 4px!important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.djslider-loader .load-button.load-button-active {
  border: 2px solid #c8ccce !important;
  background: transparent !important;
  margin: 0 2px!important;
}
.djslider-loader .navigation-container-custom {
  margin-top: 30px !important;
}
.djslider-loader .cust-navigation-in {
  padding: 0 !important;
  line-height: 12px;
}
.dj-slideshow .dj-indicators {
  margin-top: 20px !important;
}
.dj-slideshow .dj-load-button {
  display: inline-block;
  height: 30px !important;
  width: 30px !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.dj-slideshow .dj-load-button {
  background: #c8ccce !important;
  border: 2px solid transparent!important;
}
.dj-slideshow .dj-load-button-active,
.dj-slideshow .dj-load-button:hover {
  background: #ffffff !important;
  border: 2px solid #c8ccce !important;
}
.dj-slideshow .dj-load-button .dj-key,
.dj-slideshow .dj-load-button .dj-key {
  color: #ffffff !important;
  font-size: 13px !important;
}
.dj-slideshow .dj-load-button:hover .dj-key,
.dj-slideshow .dj-load-button.dj-load-button-active .dj-key {
  color: #6a6a6a !important;
}
.dj-slideshowThumbs {
  display: inline-block;
}
.dj-slideshowThumbs .dj-indicators-in,
.dj-slideshowThumbs .dj-indicators {
  padding: 0 !important;
}
.dj-slideshowThumbs .dj-load-button {
  border: none !important;
  opacity: 0.2 !important;
  filter: alpha(opacity=20) !important;
  margin: 0 !important;
}
.dj-slideshowThumbs .dj-load-button:hover,
.dj-slideshowThumbs .dj-load-button-active {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.dj-slideshowThumbs .dj-indicators img {
  max-width: none !important;
}
.dj-slideshowThumbs .dj-indicators {
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.dj-tabber,
.jm-module.white-ms .dj-tabber {
  border: none !important;
  padding: 0 !important;
  display: inline-block;
}
.dj-tabber .dj-tab-active img,
.jm-module.white-ms .dj-tabber .dj-tab-active img,
.dj-tabber .dj-tab img,
.jm-module.white-ms .dj-tabber .dj-tab img {
  border: none !important;
}
.dj-tabber .dj-tab,
.jm-module.white-ms .dj-tabber .dj-tab {
  background: #282725 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 10px!important;
  border-top: 1px solid #3d3d3d !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj-tabber span.dj-tab-in,
.jm-module.white-ms .dj-tabber span.dj-tab-in {
  color: #ffffff !important;
  font-size: 15px !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  text-shadow: none !important;
}
.dj-tabber .dj-tab-active,
.jm-module.white-ms .dj-tabber .dj-tab-active {
  margin: 0 !important;
  padding: 0 10px !important;
  border-top: 1px solid transparent !important;
  background: #266892 !important;
}
.dj-tabber .dj-tab-active + div.dj-tab,
.jm-module.white-ms .dj-tabber .dj-tab-active + div.dj-tab {
  border-top: 1px solid #282725 !important;
}
.dj-tabber .dj-tab-indicator,
.jm-module.white-ms .dj-tabber .dj-tab-indicator {
  width: 16px !important;
}
.dj-tabber .dj-tab-indicator-right,
.jm-module.white-ms .dj-tabber .dj-tab-indicator-right {
  background: url("../images/scheme1/dj-tabber-arrow-right.png") no-repeat left center !important;
}
.dj-tabber .dj-tab-indicator-left,
.jm-module.white-ms .dj-tabber .dj-tab-indicator-left {
  background: url("../images/scheme1/dj-tabber-arrow-left.png") no-repeat left center !important;
}
.jm-bottom .dj-tabber .dj-tab-active {
  background: #3993cb !important;
}
.jm-bottom .dj-tabber .dj-tab-indicator-right {
  background: url("../images/scheme1/dj-tabber-arrow-right-light.png") no-repeat left center !important;
}
.jm-bottom .dj-tabber .dj-tab-indicator-left {
  background: url("../images/scheme1/dj-tabber-arrow-left-light.png") no-repeat left center !important;
}
.box_skitter {
  margin: 0 auto;
  border: none !important;
  box-shadow: none !important;
}
.box_skitter .label_skitter {
  background: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.box_skitter .label_skitter p {
  font-size: 13px !important;
  letter-spacing: none !important;
  font-family: inherit !important;
  letter-spacing: normal !important;
}
.box_skitter .info_slide {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.box_skitter .image_number {
  font-size: 13px !important;
  color: #ffffff !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 7px 11px!important;
  border: none !important;
  background: rgba(200, 204, 206, 0.8) !important;
  margin-left: 5px !important;
}
.box_skitter .image_number_select,
.box_skitter .image_number:hover {
  color: #6a6a6a !important;
  background: #ffffff !important;
}
.box_skitter .info_slide {
  padding: 0 !important;
}
.box_skitter.skitter-square .next_button,
.box_skitter.skitter-square .prev_button {
  top: 35px !important;
  bottom: auto !important;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
}
.box_skitter.skitter-square .next_button:hover,
.box_skitter.skitter-square .prev_button:hover {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
#jm-allpage .nivoSlider {
  margin: 0 !important;
}
#jm-allpage .nivoSlider .nivo-caption .dj-readmore-wrapper a {
  display: inline-block !important;
}
#jm-allpage .slider-wrapper {
  margin: 0 auto!important;
}
#jm-allpage .slider-wrapper .nivo-controlNav {
  padding: 20px 0 10px!important;
}
#jm-allpage .slider-wrapper .nivo-controlNav a {
  margin: 0 4px !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  text-indent: 0 !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 30px !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  color: #ffffff !important;
  background: #c8ccce !important;
  border: 2px solid transparent!important;
}
#jm-allpage .slider-wrapper .nivo-controlNav a.active,
#jm-allpage .slider-wrapper .nivo-controlNav a:hover {
  color: #6a6a6a !important;
  background: #ffffff !important;
  border: 2px solid #c8ccce !important;
}
#jm-allpage .kwicks li {
  background: none;
  max-width: 100%;
}
#jm-allpage .kwicks .dj-slide-desc {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.8) !important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}
#jm-allpage .kwicks .kwicks-expanded .dj-slide-desc {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.dj-navigation .dj-play,
.dj-navigation .dj-pause {
  margin-left: -31px !important;
}
.slider1-ms .dj-navigation-in .dj-next,
.slider1-ms .dj-navigation-in .dj-prev,
.slider1-ms .dj-navigation .dj-play,
.slider1-ms .dj-navigation .dj-pause,
.slider1-ms .navigation-container .next-button,
.slider1-ms .navigation-container .prev-button,
.slider1-ms .navigation-container .play-button,
.slider1-ms .navigation-container .pause-button {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider1-ms .dj-navigation-in .dj-next:hover,
.slider1-ms .dj-navigation-in .dj-prev:hover,
.slider1-ms .dj-navigation .dj-play:hover,
.slider1-ms .dj-navigation .dj-pause:hover,
.slider1-ms .navigation-container .next-button:hover,
.slider1-ms .navigation-container .prev-button:hover,
.slider1-ms .navigation-container .play-button:hover,
.slider1-ms .navigation-container .pause-button:hover {
  background-color: #266892;
}
.slider1-ms .dj-navigation-in .dj-next,
.slider1-ms .navigation-container .next-button {
  background-image: url('../images/navi/next-mod.png');
}
.slider1-ms .dj-navigation-in .dj-next:hover,
.slider1-ms .navigation-container .next-button:hover {
  background-image: url('../images/navi/next-mod-white.png');
}
.slider1-ms .dj-navigation-in .dj-prev,
.slider1-ms .navigation-container .prev-button {
  background-image: url('../images/navi/prev-mod.png');
}
.slider1-ms .dj-navigation-in .dj-prev:hover,
.slider1-ms .navigation-container .prev-button:hover {
  background-image: url('../images/navi/prev-mod-white.png');
}
.slider1-ms .dj-navigation .dj-play,
.slider1-ms .navigation-container .play-button {
  background-image: url('../images/navi/play-mod.png');
}
.slider1-ms .dj-navigation .dj-play:hover,
.slider1-ms .navigation-container .play-button:hover {
  background-image: url('../images/navi/play-mod-white.png');
}
.slider1-ms .dj-navigation .dj-pause,
.slider1-ms .navigation-container .pause-button {
  background-image: url('../images/navi/pause-mod.png');
}
.slider1-ms .dj-navigation .dj-pause:hover,
.slider1-ms .navigation-container .pause-button:hover {
  background-image: url('../images/navi/pause-mod-white.png');
}
.slider1-ms .dj-navigation-in .dj-next:hover,
.slider1-ms .dj-navigation-in .dj-prev:hover,
.slider1-ms .dj-navigation .dj-play:hover,
.slider1-ms .dj-navigation .dj-pause:hover,
.slider1-ms .navigation-container .next-button:hover,
.slider1-ms .navigation-container .prev-button:hover,
.slider1-ms .navigation-container .play-button:hover,
.slider1-ms .navigation-container .pause-button:hover {
  border: 1px solid transparent;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.jm-bottom .slider1-ms .dj-navigation-in .dj-next:hover,
.jm-bottom .slider1-ms .dj-navigation-in .dj-prev:hover,
.jm-bottom .slider1-ms .dj-navigation .dj-play:hover,
.jm-bottom .slider1-ms .dj-navigation .dj-pause:hover,
.jm-bottom .slider1-ms .navigation-container .next-button:hover,
.jm-bottom .slider1-ms .navigation-container .prev-button:hover,
.jm-bottom .slider1-ms .navigation-container .play-button:hover,
.jm-bottom .slider1-ms .navigation-container .pause-button:hover {
  background-color: #3993cb;
}
.slider2-ms .dj-readmore-wrapper a:before,
.slider2-ms .dj-readmore-wrapper a:after {
  display: none;
}
.slider2-ms .dj-slide-desc-text {
  padding: 15px 65px 15px 15px !important;
}
.slider2-ms .dj-readmore-wrapper {
  float: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 50px;
  background-color: #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 0 !important;
  margin: 0 !important;
}
.slider2-ms .dj-readmore-wrapper:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider2-ms .dj-readmore-wrapper a {
  position: relative;
  display: block;
  height: 100%;
  background: url("../images/slider2-readmore.png") no-repeat center center;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0 !important;
  text-indent: -9000px;
  text-transform: capitalize;
}
